
.mblDomButtonUpArrow_2 DIV {
	position: absolute;
	left: 0px;
	clip: rect(0px 30px 20px 0px);
}
.mblDomButtonUpArrow_2 DIV DIV {
	top: 9px;
	left: 4px;
	width: 20px;
	height: 20px;
	margin: 0px;
	font-size: 1px;
	background-color: white;
	border-top: 1px solid #4A5A71;
	-webkit-transform: scaleX(0.6) rotate(45deg);
	-moz-transform: scaleX(0.6) rotate(45deg);
}
.mblTabPanelHeader .mblDomButtonUpArrow_2 DIV DIV {
	left: 11px;
}
