
.mblHeading {
	background-image: url(compat/ipad-heading-bg.png);
}
.mblArrowButtonHead {
	background-image: url(compat/ipad-arrow-button-head.png);
}
.mblArrowButtonBody {
	background-image: url(compat/ipad-arrow-button-bg.png);
}
