a{
	text-decoration:none;
}
.sanLR04{
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.sanTIT{
	color:black;
	font-family:Arial,Helvetica,sans-serif;
	font-size:20px;
	margin-left:10px;
}
.sanT12{
	color:black;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin-left:10px;
}
.fntBR11{
	color:black;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
}
.fonN12S{
	color: #000000;
    font-family: tahoma,sans-serif;
    font-size: 12px;
	text-decoration:none;
}

.colmenu{
	color:#FFFFFF;
	text-align:center;
    font-family: tahoma,sans-serif;
    font-size: 14px;	
	text-decoration:none;
	background-color:#808080;
}
.carrusel{
	color:#FFFFFF;
	text-align:center;
    font-family: tahoma,sans-serif;
    font-size: 16px;	
	text-decoration:none;	
}
.columnA{
	text-decoration:none;
	background-color:#DDDDDD;
}
.columnB{
	text-decoration:none;
	background-color:#D6D6D6;
}
.thEncabezado{ 
	height:20px;
	background-color:#000000;
	color:#FFFFFF;
	//background-image:url(../images/gif/encabezado-tabla.gif);
	font-weight:bold;		
}

.cuatext{
	background:none repeat scroll 0 0 #ffffff;
	border:1px solid #cacaca;
	color:#000000;
	font-family:tahoma,sans-serif;
	font-size:11px;
	height:15px;
	outline:medium none;
}

.txtCO12{
	color: #000000;
	text-decoration:none;
}

.txtGK10{
	color:gray;
	font-size:11px;
	font-style:italic;
}

.numero input {
    text-align: right;
}