/***************************************************	      think simple by marija zaric and distributed by http://freehtml5templates.com******************************************************************************************************			      Reset***************************************************/html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a img {
	border:none
}
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}/***************************************************			      Global styles***************************************************/
html, body {
	width:100%;
	height:100%;
}
html, body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: midnightblue;
	margin:0 0 1px;
	line-height: 1.5;
	background-color:white;
	background-image:url(https://sindicato-ec2.s3.us-west-2.amazonaws.com/resources/images/bg.png);
	background-position:left top;
	background-repeat:repeat;
}
p {
	margin-bottom:7px;
}
a, p a {
	text-decoration:underline;
	color: white;
}
a:hover {
	color: #930E13;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	position:relative;
}
h1 {
	font-size: 60px;
	line-height:1.6;
	color:#663366;
	text-transform:capitalize;
	text-align:left;
	margin-left:40px;
}
h1 span {
	line-height:1.7px;
	color:black;
	font-size:14px;
	text-transform:none;
	display:block;
}
h2 {
	font-size: 17px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:420px;
	padding-top:8px;
	margin-left:40px;
}
h3 {
	font-size: 28px;
	line-height:1.6;
	color:#125BB4;
	text-transform:capitalize;
	text-align:left;
	background-color:transparent;
	padding-top:12px;
	margin-bottom:9px;
}
h3 span {
	font-size: 12px;
	color: black;
	text-transform:capitalize;
	height:24px;
	margin-top:15px;
	text-align:left;
	display:block;
}
h4 {
	font-size: 18px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:350px;
	padding-top:8px;
	margin-bottom:12px;
}
h4 span {
	font-weight:bold;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FFCC33;
	padding:8px;
	margin-left:20px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
h5 span {
	font-weight:bold;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	color:ffffff;
	background-color:GRAY;
	padding:8px;
	margin-left:20px;
	border:#FFFBF0;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}/***************************************************			    Main containers***************************************************/
#container, #container_left, #container_right {
	position: relative;
	width:100%;
}
#containerhead {
	background-color:white;
	height:143px;
	margin:0 auto;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	position:relative;
	width:980px;
}
#container {
	position:relative;
	width:980px;
	margin:0 auto;
	text-align:left;
	background-color:white;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}
.group1 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
}
.group2 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
}
.group3 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
}
.group4 {
	float: left;
	width: 550px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	margin-right:12px;
}
.group5 {
	float: left;
	width: 350px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
}
.group6 {
	float: left;
	width: 630px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
}
.group_bannner_left {
	width: 420px;
	position: absolute;
	top:60px;
	background:transparent;
	margin-top:6px;
	margin-left:-40px;
}
.group_bannner_right {
	width: 380px;
	position: absolute;
	top:-37px;
	right:170px;
	background:transparent;
	margin-top:50px;
}
header {
	position: relative;
	float:left;
	width: 100%;
	height:120px;
}/***************************************************				INTRO***************************************************/
#intro {
	width: 960px;
	position: relative;
	float: left;
	min-height:318px;
	padding:10px;
	background:transparent;
	margin-top:10px;
	margin-bottom:-40px;	/*margin-top:17px;*/
}/***************************************************				   HOLDERS***************************************************/
.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-top:15px;
	background:transparent;
	background: url(https://sindicato-ec2.s3.us-west-2.amazonaws.com/resources/images/line.png) 0 -18px no-repeat;
}
.holder_content1 {
	position: relative;
	float: left;
	width: 100%;
	margin-top:6px;
	margin-bottom:20px;
	background: url(https://sindicato-ec2.s3.us-west-2.amazonaws.com/resources/images/line.png) 0 -18px no-repeat;
}
.holder_content_separator {
	margin-bottom:20px;
}	/***************************************************			        GALLERY***************************************************/
a.photo_hover3 {
	position:relative;
	float: right;
	margin:5px 13px 8px 0;
	padding: 8px;
}
a.photo_hover3 {
	background-color:white;
	border: 1px solid #E1E1E1;
}
a.photo_hover3:hover {
	border: 1px dotted #66CCFF;
	background-color:#ffd200;
	opacity:0.9;
	z-index:1000;
}
a.photo_hover2 {
	position:relative;
	float: left;
	margin:5px 13px 8px 0;
	padding: 8px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
a.photo_hover2 {
	background-color:white;
	border: 1px solid #E1E1E1;
}
a.photo_hover2:hover {
	border: 1px solid #E1E1E1;
}/***************************************************				   GALLERY***************************************************/
.holder_gallery {
	width:610px;
	float:left;
	margin-right:10px;
	padding:0;
}
.holder_gallery a.photo_hover {
	left:42px;
}
.holder_gallery h3 {
	clear:left;
}
.holder_gallery a.name {
	font-size:12px;
	text-align:left;
	position:relative;
	margin-top:15px;
	display:block;
	clear:left;
	line-height:15px;
}
.holder_gallery a.name1 {
	font-size:12px;
	position:relative;
	display:inline;
	text-align:left;
	top:20px;
	left:0;
}
.holder_gallery a.description {
	font-size:12px;
	float:left;
	position:relative;
	margin-right:5px;
	padding-top:7px;
	color:gray;
	width:300px;
	display:inline;
}	/***************************************************			        FOOTER***************************************************/
footer {
	position:relative;
	height:90px;
	clear:both;
	width:100%;
	margin-bottom:18px;
	background-color:#000000;
}
#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;
}
#FooterTwo {
	position: absolute;
	right: 225px;
	top:26px;
	color:white;
}
#FooterTree {
	position: absolute;
	left: 225px;
	top:26px;
	color:white;
}
.container {
	width:980px;
	margin:0 auto;
	background-color:transparent;
}/***************************************************				       MENU***************************************************/
nav {
	position:absolute;
	width:980px;
	top:43px;
	right:-188px;
	background:transparent;
	align:right;
}
nav ul li {
	float: left;
	line-height:normal;
	position: relative;
}
nav ul li a {
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	text-transform:capitalize;
	font-weight:normal;
	display:block;	/* IE6, IE7 line height fix */
	padding:15px;
	background-color:transparent;
	margin-top:0px;
	margin-right:6px;
	text-decoration:none;
}
nav ul ul {
	position: absolute;
	top: -600px;
	padding-top: 6px;
	font-size: 13px;
	opacity: 0;
	-webkit-transition: top 0.8s ease, opacity 0.5s ease-in;
	-moz-transition: top 0.8s ease, opacity 0.5s ease-in;
	-ms-transition: top 0.8s ease, opacity 0.5s ease-in;
	-o-transition: top 0.8s ease, opacity 0.5s ease-in;
	transition: top 0.8s ease, opacity 0.5s ease-in;
}
nav ul li a:hover {
	text-decoration:underline;
	padding:15px;
	color:black;
}
nav ul li ul {
	position:absolute;
}
nav ul ul li:first-child > a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
nav ul ul li:middle-child > a {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
nav ul ul li:last-child > a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
nav ul li a.current {
	background-color:#ffd200;
	padding:15px;
	color:white;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.content_menu {
	float: left;
	width: 274px;
	margin-top:-10px;
	margin-bottom:15px;
}
.content_menu ul {
	margin: 0px;
	padding: 0px;
	float: none;
}
.content_menu ul li {
	float: none;
	padding-bottom: 16px;
}
.content_menu ul li a {
	font-size:14px;
	line-height:normal;
	color:#33CC99;
	text-align:left;
	text-decoration:none;
	padding-left:20px;
}
.content_menu ul li a:hover {
	color:#33CC99;
}/***************************************************				   SPECIFIC***************************************************/
#logo {
	position:relative;
	float:left;
	top:0px;
	left:0px;
	width:120px;
	height:150px;
}
.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}
.purple {
	font-size:50px;
	color:#663366;
	float:left;
	padding:12px;
	margin:20px;
}
.read_more {
	color:#663366;
	font-size:14px;
	float:right;
	margin-top:15px;
}/******************/
#cssmenu > ul > li > ul::after {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
border-image: none;
border-style: solid;
border-width: 5px;
content: "";
height: 0px;
left: 10px;
position: absolute;
top: -4px;
width: 0px;
}
#cssmenu ul ul ul::after {
}
#cssmenu > ul > li > ul {
}
#cssmenu > ul > li:hover > ul {
	top: 52px;
	left: 0;
	opacity: 1;
}
#cssmenu ul ul ul {
}
#cssmenu ul ul > li:hover > ul {
}
#cssmenu ul ul li a {
	text-decoration: none;
	font-weight: 400;
	padding: 11px 25px;
	width: 180px;
	color: #777777;
	background: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
}
#cssmenu > ul > li > ul::after {
}
#cssmenu ul ul li.has-sub > a::after {
content: '';
position: absolute;
width: 0;
height: 0;
border: 4px solid transparent;
border-left-color: #777777;
right: 17px;
top: 14px;
}
#cssmenu ul ul li.has-sub.active > a::after, #cssmenu ul ul li.has-sub:hover > a::after {
border-left-color: #333333;
}
