.dojoxGrid {
	position: relative;
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	-moz-outline-style: none;
	outline: none;
	overflow: hidden;
	height: 0;
}
.dojoxGrid table {
	padding: 0;
}
.dojoxGrid td {
	-moz-outline: none;
}
.dojoxGridMasterHeader {
	position: relative;
}
.dojoxGridMasterView  {
	position: relative;
}
.dojoxGridMasterMessages {
	position: relative;
	padding: 1em;
	text-align: center;
	background-color: white;
}
.dojoxGridView {
	position: absolute;
	overflow: hidden;
}
.dojoxGridHeader {
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.dojoxGridHeader {
	background-color: #E8E1CF;
}
.dojoxGridHeader table {
	text-align: center;
}
.dojoxGridHeader .dojoxGridCell { 
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url(../../../resources/images/grid_dx_gradient.gif) #E8E1CF top repeat-x;
	padding-bottom: 2px;
}
.dojoxGridHeader .dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #FEBE47;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}
.dojoxGridHeader .dojoxGridCellFocus {
	border: 1px dashed blue;
}
.dojoxGridHeader.dojoxGridCellFocus.dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #FEBE47;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}
.dojoxGridArrowButtonNode {
	display: none;
	padding-left: 16px;
}
.dojoxGridArrowButtonChar {
	display:inline;
}
 
.dojoxGridArrowButtonNode:hover {
        cursor: default;
}
.dojoxGridArrowButtonChar:hover {
        cursor: default;
}
.dojoxGridSortUp:hover {
        cursor: default;
}
.dojoxGridSortDown:hover {
        cursor: default;
}
.dijit_a11y .dojoxGridArrowButtonChar {
	display:inline !important;
}
.dojoxGridScrollbox {
	position: relative;
	overflow: auto;
	background-color: white;
	width: 100%;
}
.dojoxGridContent {
	position: relative;
	overflow: hidden;
	 -moz-outline-style: none;
	outline: none;
}
.dojoxGridRowbar { 
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	border-top: none;
	background: url(../../../resources/images/grid_dx_gradient.gif) #E8E1CF top repeat-x;
}
.dojoxGridRowbarInner {
	border-top: 1px solid #F6F4EB;
}
.dojoxGridRowbarOver {
	background-image: none;
	background-color: white;
	border-top-color: #FEBE47;
	border-bottom-color: #FEBE47;
}
.dojoxGridRowbarSelected {
	background-color: #D9E8F9;
}
.dojoxGridRow {
	position: relative;
	width: 9000em;
}
.dojoxGridRow {
	
	border: 1px solid #E8E4D8;
	border-color: #F8F7F1;
	
	border-left: none;
	border-right: none;
	background-color: white;
	border-top: none;
}
.dojoxGridRowOver {
	border-top-color: #FEBE47;
	border-bottom-color: #FEBE47;
	
	
	
}
.dojoxGridRowOdd {
	background-color: #FFFDF3;
	
}
.dojoxGridRowSelected {
	background-color: #D9E8F9;
}
.dojoxGridRowTable {
	table-layout: fixed;
	width: 0;
	empty-cells: show;
}
.dj_ie .dojoxGridRowTable {
	border-collapse: collapse;
}
.dojoxGridInvisible {
	visibility: hidden;
}		
.Xdojo-ie .dojoxGridInvisible {
	display: none;
}		
.dojoxGridInvisible td, .dojoxGridHeader .dojoxGridInvisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}
.dojoxGridCell {
	border: 1px solid;
	border-color: #EBEADB;
	border-right-color: #D5CDB5;
	padding: 3px 3px 3px 3px;
	text-align: left;
	overflow: hidden;
}
.dojoxGridCellFocus {
	border: 1px dashed blue;
}
.dojoxGridCellOver {
	border: 1px dotted #FEBE47;
}
.dojoxGridCellFocus.dojoxGridCellOver {
	border: 1px dashed green;
}
.dojoxGridRowEditing td {
	background-color: #F4FFF4;
}
.dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.dojoxGridRow-error td {
	background-color: #F8B8B6;
}
.dojoxGridInput, .dojoxGridSelect, .dojoxGridTextarea {
	margin: 0;
	padding: 0;
	border-style: none;
	width: 100%;
	font-size: 100%;
	font-family: inherit;
}
.dojoxGridHiddenFocus {
	position: absolute;
	top: -1000px;
	height: 0;
	width: 0;
}
.dijit_a11y .dojoxGridRowbarSelected { 
	border-top: 1px solid white;
	border-bottom: 1px dashed black;
	border-top: 0;
	background: none;
}
.dijit_a11y .dojoxGridRowbarSelected .dojoxGridRowbarInner {
	border: 0;
	border-top: 1px solid white;
}
.dijit_a11y .dojoxGridRowSelected {
	border: 1px solid black !important;
}
.dojoxGridDndAvatar {
	font-size: 100%;
}
.dojoxGrid .dojoDndItemBefore {
	border-left-color: red;
}
.dojoxGrid .dojoDndItemAfter {
	border-right-color: red;
}
.dijit_a11y .dojoDndItemBefore {
	border-left: double;
}
.dijit_a11y .dojoDndItemAfter {
	border-right: double;
}
.dojoxGridDndAvatarItem	td {
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url(../../../resources/images/grid_dx_gradient.gif) #E8E1CF top repeat-x;
	padding: 0pt;
	margin: 0pt;
}
.dojoxGridDndAvatarItem	td.dojoxGridDndAvatarItemImage {
	border: 0;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background-color: transparent;
	padding: 3px;
	padding-bottom: 2px;
	margin: 0;
}
.dojoDndMove .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../../dojo/resources/images/dndNoMove.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndCopy .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../../dojo/resources/images/dndNoCopy.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../../dojo/resources/images/dndMove.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../../dojo/resources/images/dndCopy.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoxGridColPlaceBottom {
	background: transparent url(../../../resources/images/grid_sort_up.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop {
	background: transparent url(../../../resources/images/grid_sort_down.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
	cursor: col-resize;
	z-index:10000;
}
.dojoxGridColNoResize, 
.dojoxGridColNoResize .dojoDndItemOver {
	cursor: not-allowed !important;
}
.dojoxGridColResize, 
.dojoxGridColResize .dojoDndItemOver,
.dojoxGridColumnResizing,
.dojoxGridColumnResizing .dojoDndItemOver,
.dojoxGridColumnResizing .dojoxGridHeader {
	cursor: col-resize !important;
}
.dojoxGridColPlaceBottom {
	background: transparent url(../../../resources/images/grid_sort_up.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop {
	background: transparent url(../../../resources/images/grid_sort_down.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
}
.dojoxGridExpandoCell {
	vertical-align: middle;
}
.dojoxGridSummarySpan {
	visibility: hidden;
}
.dojoxGridSummaryRow .dojoxGridSummarySpan,
.dojoxGridRowCollapsed .dojoxGridSummarySpan {
	visibility: visible;
}
.dojoxGridNoChildren .dojoxGridExpando {
	visibility: hidden !important;
	width: 0px !important;
}
.tundra .dojoxGrid {
	background-color: #e9e9e9;
	font-size: 0.85em; 
}
.tundra .dojoxGridMasterMessages {
	background-color: #fefefe;
}
.tundra .dojoxGridLoading, 
.tundra .dojoxGridError {
	background-position:left center;
	background-repeat: no-repeat;
	padding-left:25px;
}
.dijitRtl .tundra .dojoxGridLoading, 
.dijitRtl .tundra .dojoxGridError,
.dijitRtl .tundra .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}
.tundra .dojoxGridLoading {
	background-image: url(../../../../../dijit/themes/tundra/images/loading.gif);
}
.tundra .dojoxGridError {
	background-image: url(../../../../../dijit/themes/tundra/images/warning.png);
}
.tundra .dojoxGridHeader {
	background-color:  #e9e9e9;
}
.tundra .dojoxGridHeader .dojoxGridCell { 
	border-width: 1px;
	padding-bottom: 0px;
	border-color: transparent #ACA899 #919191 transparent;
	background: url(../../../../../dijit/themes/tundra/images/tabEnabled.png) #e9e9e9 repeat-x top;
	color: #000 !important;
}
.tundra .dojoxGridHeader .dojoxGridCellOver {
	background: url(../../../../../dijit/themes/tundra/images/tabHover.png) #e9e9e9 repeat-x top;
	color: #000 !important;
}
.tundra .dojoxGridHeader .dojoxGridCellFocus {
	border-color: #ACA899 #919191;
	border-style: dashed;
}
.tundra .dojoxGridArrowButtonChar {
	float: right;
	display: none;
}
.tundra .dojoxGridArrowButtonNode {
	display: block !important;
	padding-left: 0px;
	float: right;
	background:url(../../../../../dijit/themes/tundra/images/spriteArrows.png) no-repeat left center;
	width: 7px;
	height: 1em;
	margin: 2px 4px 0px 5px;
}
.dj_ie6 .tundra .dojoxGridArrowButtonNode {
	background-image:url(../../../../../dijit/themes/tundra/images/spriteArrows.gif);
	margin-left: 0px;
}
.tundra .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -21px;
}
.dijit_a11y .tundra .dojoxGridArrowButtonNode {
	display: none !important;
}
.tundra .dojoxGridScrollbox {
	background-color: #fefefe;
}
.tundra .dojoxGridRowbar { 
	border: none;
	background: url(../../../resources/images/tabEnabled_rotated.png) #e9e9e9 repeat-y right;
	border-right: 1px solid #ccc;
	padding: 0px;
}
.tundra .dojoxGridRowbarInner {
	border: none;
	border-bottom: 1px solid #ccc;
}
.tundra .dojoxGridRowbarOver {
	background: url(../../../resources/images/tabHover_rotated.png) #e9e9e9 repeat-y right;
}
.tundra .dojoxGridRowbarSelected {
	background: url(../../../../../dijit/themes/tundra/images/tabDisabled.png) #D8E8F9 no-repeat center;
	border-right: 1px solid #ccc;
}
.tundra .dojoxGridRow {
	border: none;
	background-color: white;
}
.tundra .dojoxGridRowOver {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
.tundra .dojoxGridRowOver .dojoxGridCell {
	background-color: #60a1ea; 
	color:#fff;
}
.tundra .dojoxGridRowOver .dojoxGridCell .dijit {
	color: #000;
}
.tundra .dojoxGridRowOver .dojoxGridCell .dijitDisabled {
	color: gray;
}
.tundra .dojoxGridRowOdd {
	background-color: #f2f5f9;
}
.tundra .dojoxGridRowSelected {
	background-color: #aec7e3 !important;
}
.dijit_a11y .tundra .dojoxGridRowSelected { 
    background-color: #aec7e3;     
    border-style: solid;     
}   
.tundra .dojoxGridCell {
	border: 1px dotted #D5CDB5;
	border-left-color: transparent;
	border-top-color: transparent;
}
.dj_ff2 .tundra .dojoxGridCell {
	border-left-width: 0px;
	border-top-width: 0px;
}
.dj_ie6 .tundra .dojoxGridCell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}
.tundra .dojoxGridCellFocus {
	border: 1px dashed darkblue !important;
}
.tundra .dojoxGridCellOver {
	border: 1px dotted #a6a6a6;
}
.tundra .dojoxGridCellFocus .dojoxGridCellOver {
	border: 1px dashed darkblue !important;
}
.tundra .dojoxGridRowEditing td {
	
	background-color: #60a1ea; 
	
}
.tundra .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.tundra .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.tundra .dojoxGridRow-error td {
	background-color: #F8B8B6;
}
.tundra .dojoxGrid .dojoDndItemBefore {
	border-left-color: #3559ac;
}
.tundra .dojoxGrid .dojoDndItemAfter {
	border-right-color: #3559ac;
}
.tundra .dojoxGridExpando {
	float: left;
	height: 18px;
	width: 18px;
	text-align: center;
	margin-top: -3px;
}
.dijitRtl .tundra .dojoxGridExpando {
	float: right;
}
.tundra .dojoxGridExpandoCell {
	padding-top: 5px;
}
.tundra .dojoxGridExpandoNode {
	height: 18px;
	background-image: url(../../../../../dijit/themes/tundra/images/treeExpand_plus.gif);
}
.tundra .dojoxGridExpandoOpened .dojoxGridExpandoNode {
	background-image: url(../../../../../dijit/themes/tundra/images/treeExpand_minus.gif);		
}
.tundra .dojoxGridExpandoLoading .dojoxGridExpandoNode {
	background-image: url(../../../../../dijit/themes/tundra/images/treeExpand_loading.gif);		
}
.tundra .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpando {
	visibility: visible !important;
	width: 18px !important;
}
.tundra .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpandoNode {
	background-image: url(../../../../../dijit/themes/tundra/images/treeExpand_leaf.gif);
	background-position: -3px;
}
.tundra .dojoxGridExpandoNodeInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridExpandoNodeInner {
	visibility: visible;
}
		
.tundra .dojoxGridSummaryRow .dojoxGridCell {
	border-top-color: #999;
	border-top-style: solid;
}
.tundra .dojoxGridSpacerCell,
.tundra .dojoxGridExpandoCell,
.tundra .dojoxGridSummaryRow .dojoxGridSpacerCell {
	border-color: transparent;
	border-right-color: #D5CDB5;
}
.tundra .dojoxGridSummaryRow .dojoxGridTotalCell,
.tundra .dojoxGridRowCollapsed .dojoxGridExpandoCell,
.tundra .dojoxGridTreeModel .dojoxGridExpandoCell {
	border-bottom-color: #D5CDB5;
}
.tundra .dojoxGridSubRowAlt {
	background-color: #F8F8F8;
}
.tundra .dojoxGridRowOdd .dojoxGridSubRowAlt {
	background-color: #EDEFF3;
}
.dojoxGrid {
	border:1px solid #DBDBDB;
}
.dojoxGridCellContent {
	padding:3px;
}
.dojoxGridSortNode {
	padding:3px;
}
.dojoxGridInProgress {
	cursor:progress;
}
.dojoxGridRowSelectorStatusText{
	visibility:hidden;
}
.dijit_a11y .dojoxGridRowSelected {
	opacity:0.8 !important;
}
.dijit_a11y .dojoxGridBorderDIV {
	border:2px solid #000 !important;
}
.dijit_a11y .dojoxGridRowSelector {
	height:100% !important;
}
.dijit_a11y .dojoxGridRowSelectorStatusText{
	font-size:larger !important;
	visibility:visible;
}
.dijit_a11y .dijitCheckBox .dojoxGridRowSelectorStatusText{
	font-weight:bolder !important;
	font-size:x-large !important;
}
.dijit_a11y .dijitCheckBoxChecked .dojoxGridRowSelectorStatusText{
	font-size:small !important;
}
.dojoxGridFBar {
	width: 100%;
	cursor: pointer;
}
.dojoxGridFBar .dojoxGridFBarBtn {
	margin: 0;
}
.dojoxGridFBarBtnTD {
	width: 38px;
}
.dojoxGridFBar .dojoxGridFBarBtn .dijitButtonNode {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 2px;
}
.dojoxGridFBarDefFilterBtnIcon {
	background: url(../images/sprite_icons.png) no-repeat;
	background-position: -100px -18px;
	width: 14px;
	height: 14px;
}
.dj_ie .dojoxGridFBarInner{
	display: inline-block;
	width: 100%;
}
.dojoxGridFBarStatus {
	margin-left: 9px;
	float: left;
}
.dojoxGridFBarClearFilterBtn {
	margin: 0 0 0 10px;
	vertical-align: top;
	float: left;
}
.dojoxGridFBarInfoTD .dojoxGridFBarClearFilterBtn .dijitButtonNode,
.dojoxGridFBarInfoTD .dojoxGridFBarCloseBtn .dijitButtonNode,
.dojoxGridFDPane .dijitAccordionTitle .dijitButtonNode,
.dojoxGridFStatusTipDetail .dijitButton .dijitButtonNode {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	background-image: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
}
.dj_ie .dojoxGridFBarInner {
	position: relative;
}
.dojoxGridFBarCloseBtn {
	margin: 0 4px 0 0;
	float: right;
}
.dj_ie .dojoxGridFBarCloseBtn {
	float: none;
	position: absolute;
	right: 0;
}
.dojoxGridFBarCloseBtnIcon {
	background: url(../images/sprite_icons.png) no-repeat;
	background-position: -119px -20px;
	width: 14px;
	height: 14px;
}
.dijitButtonHover .dojoxGridFBarCloseBtnIcon {
	background-position: -140px -20px;
}
.dijitButtonActive .dojoxGridFBarCloseBtnIcon {
	background-position: -160px -20px;
}
.dojoxGridFDTitlePane {
	width: 316px;
	height: 330px;
}
.dijit_a11y .dojoxGridFDTitlePane .dijitArrowButtonInner{
	
	display:none !important;
}
.dojoxGridFDTitlePane .dijitDialogPaneContent {
	padding: 7px 5px 9px 5px;
	height: 290px !important;
}
.dojoxGridFDTitlePane .dijitTitlePaneTitle {
	cursor: move;
}
.dojoxGridFDPaneRelation {
	margin: 0 0 3px 4px;
}
.dojoxGridFDPane {
	width: 100%;
	height: 100%;
	position: relative;
}
.dojoxGridFDPaneRulePane {
	height: 222px;
	overflow: auto;
	
	position: relative;
}
.dj_ie6 .dojoxGridFDPaneRulePane {
	width: 100%;
}
.dojoxGridFDPane .dijitAccordionContainer .dijitContentPane {
	padding: 6px 9px;
}
.dojoxGridFDPane .dijitAccordionTitle {
	position: relative;
	
	min-height: 17px;
}
.dojoxGridFDPane .dijitAccordionTitle .dijitButton {
	position: absolute;
	margin: 0;
	right: 3px;
	top: 4px;
}
.dj_ie6 .dojoxGridFDPane .dijitAccordionTitle .dijitButton {
	top: 2px;
}
.dojoxGridFDPane .dijitAccordionTitleFocus {
	margin-right: 14px;
}
.dojoxGridFDPane .dijitAccordionText {
	display: inline-block;
	position: relative;
}
.dojoxGridFCBoxRemoveCBoxBtnIcon {
	background-image: url(../images/sprite_icons.png);
	background-position: -198px -18px;
	width: 16px;
	height: 16px;
}
.dijitButtonHover .dojoxGridFCBoxRemoveCBoxBtnIcon {
	background-position: -198px 2px;
}
.dojoxGridRuleTitleCondition {
	font-style: italic;
}
.dojoxGridFDPaneModes .dijitSelect {
	position: relative;
}
.dojoxGridFDPaneBtns {
	position: absolute;
	right: 0;
	bottom: 0;
}
.dj_ie7 .dojoxGridFDPaneBtns,
.dj_ie6 .dojoxGridFDPaneBtns {
	z-index: -1;
}
.dojoxGridFDPaneBtns .dijitButton {
	float: right;
}
.dojoxGridFDPaneAddCBoxBtn {
	margin-top: 9px;
}
.dojoxGridFDPaneAddCBoxBtnIcon {
	background-image: url(../images/sprite_icons.png);
	background-position: -218px 2px;
	width: 16px;
	height: 16px;
}
.dijitButtonDisabled .dojoxGridFDPaneAddCBoxBtnIcon {
	background-position: -218px -18px;
}
.dojoxGridFCBox {
	height: 125px;
}
.dojoxGridFCBoxSelCol, 
.dojoxGridFCBoxCondition {
	height: 40px;
}
.dojoxGridFCBox .dojoxGridFCBoxColSelect, 
.dojoxGridFCBox .dojoxGridFCBoxCondSelect, 
.dojoxGridFCBox .dojoxGridFCBoxValueBox {
	margin: 5px 0 0 0;
	width: 100%;
	
	display: inline-table;
}
.dojoxGridFCBoxCondSelectAlt {
	width: 100%;
	padding: 5px 0 0 0;
	font-weight: bold;
}
.dojoxGridFCBox .dijitSelect .dijitArrowButton {
	width: 18px;
}
.dojoxGridFCBoxStartValue {
	width: 45%;	
}
.dojoxGridFCBoxEndValue {
	float: right;
	width: 45%;
}
.dojoxGridFCBoxRangeValueTxt {
	margin-left: 4px;
}
.dojoxGridFStatusTipDialog .dijitTooltipContainer {
	padding: 9px 5px;
}
.dojoxGridFStatusTip thead,
.dojoxGridFStatusTip tr {
	height: 19px;
}
.dojoxGridFStatusTip th {
	max-width: 150px;
	width: expression(this.clientWidth > 150 ? "150px" : "auto");
}
.dojoxGridFStatusTip th div {
	padding: 2px 5px;
}
.dojoxGridFStatusTip td {
	padding: 2px 6px;
	max-width: 150px;
	overflow: hidden;
	width: expression(this.clientWidth > 150 ? "150px" : "auto");
}
.dojoxGridFStatusTipHead {
	margin-bottom: 9px;
}
.dojoxGridFStatusTipTitle {
	font-weight: bold;
	margin-right: 1em;
}
.dojoxGridFStatusTipHandle {
	position: relative;
	padding-right: 16px;
}
.dojoxGridFStatusTipDetail .dijitButton {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -1px;
	right:0;
}
.dojoxGridFStatusTipDelRuleBtnIcon {
	background-image: url(../images/sprite_icons.png);
	background-position: -198px -18px;
	height: 16px;
	width: 16px;
}
.dijitButtonHover .dojoxGridFStatusTipDelRuleBtnIcon {
	background-position: -198px 2px;
}
.dj_ie7 .dojoxGridClearFilterConfirm,
.dj_ie6 .dojoxGridClearFilterConfirm {
	width: 300px;
}
.dojoxGridClearFilterBtns{
	padding: 10px;
	height: 18px;
}
.dojoxGridClearFilterBtns .dijitButton {
	float: right;
}
.dojoxGridTrueBox {
	float: left;
	width: 49%;
}
.dojoxGridFalseBox {
	float: left;
	width: 49%;
}
.dojoxGridBoolValueBox .dijitRadio {
	vertical-align: middle;
} 
.dojoxGridTrueLabel,
.dojoxGridFalseLabel {
	width: 116px;
	display:inline-block;
	vertical-align: middle;
}
.dj_ie7 .dojoxGridTrueLabel,
.dj_ie7 .dojoxGridFalseLabel {
	display: inline;
}
.dojoxGridPaginator {
	border-top:1px #DBDBDB solid;
	text-align:center;
	width: 100%;
	height: 24px;
	table-layout : fixed;
	background-color: #EAEAEA;
}
.dojoxGridDescriptionTd {
	text-align: left;
	width: 35%;
}
.dojoxGridDescription {
	text-align: left;
	margin-left: 9px;
	overflow: hidden;
}
.dojoxGridPaginatorFastStep {
	text-align: right;
	width: 35%;
	overflow: hidden;
}
.dojoxGridPaginatorStep {
	float: right;
}
.dojoxGridPaginatorGotoTd {
	width: 20px!important;
}
.dojoxGridPaginatorGotoDiv {
	cursor: pointer;
	width: 12px!important;
	height: 16px!important;
	margin: 0 6px 0 2px;
	background: url(../images/sprite_icons.png) no-repeat -77px 4px;
}
.dojoxGridPaginatorGotoDivDisabled {
	background: url(../images/sprite_icons.png) no-repeat -77px -16px;
}
.dojoxGridWardButton {
	margin-top: 2px;
	width: 12px!important;
	height: 12px!important;
	float: left;
	background: url(../images/sprite_icons.png) no-repeat;
}
.dojoxGridWardButtonInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridWardButtonInner {
	visibility: visible;
	margin-bottom: 8px;
}
.dojoxGridfirstPageBtn {
	cursor: pointer;
	margin-left: 1px;
	background-position: -57px 3px;
}
.dojoxGridfirstPageBtnDisable {
	margin-left: 1px;
	background-position: -57px -17px;
}
.dojoxGridprevPageBtn {
	cursor: pointer;
	margin: 2px 2px 0 9px;
	background-position: 3px 3px;
}
.dojoxGridprevPageBtnDisable {
	margin: 2px 2px 0 9px;
	background-position: 3px -17px;
}
.dojoxGridlastPageBtn {
	cursor: pointer;
	margin: 2px 9px 0 9px;
	background-position: -37px 3px;
}
.dojoxGridlastPageBtnDisable {
	margin: 2px 9px 0 9px;
	background-position: -37px -17px;
}
.dojoxGridnextPageBtn {
	cursor: pointer;
	margin-left: 3px;
	background-position: -17px 3px;
}
.dojoxGridnextPageBtnDisable {
	margin-left: 3px;
	background-position: -17px -17px;
}
.dojoxGridInactived {
	font-weight: normal;
	color: #5D88AF;
	cursor: pointer;
	margin: 1px 6px 0 5px;
	float: left;
	zoom: 1; 
}
.dojoxGridActived {
	font-weight: bold;
	color: black;
	margin: 1px 6px 0 5px;
	float: left;
	text-decoration: none!important; 
	zoom: 1; 
}
.dojoxGridInactiveSwitch {
	font-weight: normal;
	color: #5D88AF;
	float: left;
	cursor: pointer;
	margin: 1px 7px 0 7px;
	zoom: 1; 
}
.dojoxGridActivedSwitch {
	font-weight: bold;
	color: black;
	float: left;
	margin: 1px 7px 0 7px;
	text-decoration: none!important; 
	zoom: 1; 
}
.dojoxGridSeparator {
	float: left;
}
.dojoxGridPageTextHover {
	text-decoration: underline;
}
.dojoxGridDialogMargin {
	width: 220px!important;
	margin-bottom: 10px;
}
.dj_ie6 .dojoxGridDialogMargin {
	position: relative;
}
.dojoxGridDialogButton {
	width: 220px!important;
	text-align: right;
}
.dojoxGridBorderDIV {
	width:2px;
	background-color: gray;
	font-size:0em;
	position:absolute;
	z-index:9999;
}
.dojoxGridCellBorderDIV {
	position:absolute;
	background-color: transparent;
	border: none;
}
.dojoxGridCellBorderLeftTopDIV {
	position: absolute;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 2px 0 0 2px;
	border-color: gray transparent transparent gray;
}
.dojoxGridCellBorderRightBottomDIV {
	position: absolute;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: transparent gray gray transparent;
}
.dojoxGridDnDItemIcon {
	background-image: url(../images/sprite_icons.png);
}
.dojoxGridDnDIconRowSingle {
	background-position: -256px 5px;
}
.dojoxGridDnDIconRowMulti {
	background-position: -256px -16px;
}
.dojoxGridDnDIconColSingle {
	background-position: -277px 3px;
}
.dojoxGridDnDIconColMulti {
	background-position: -277px -17px;
}
.dojoxGridDnDIconCellSingle {
	background-position: -235px 5px;
}
.dojoxGridDnDIconCellMulti {
	background-position: -236px -16px;
}
.dojoxGridDndAvatar {
	background-color:white;
	border: 1px solid #CCCCCC;
	padding: 0px;
	-moz-box-shadow: 5px 5px 7px #999;
	-webkit-box-shadow: 5px 5px 7px #999;
	box-shadow: 5px 5px 7px #999;
	z-index: 999;
}
.dojoxGridDndAvatar td {
	padding: 3px;
}
.dojoxGridDnDIcon,
.dojoxGridDnDItemIcon {
	width: 16px;
	height: 16px;
}
.dojoDndMove .dojoxGridDnDIcon {
	background: url(../../../../../dojo/resources/images/dndNoMove.png) no-repeat center center;
}
.dojoDndCopy .dojoxGridDnDIcon {
	background: url(../../../../../dojo/resources/images/dndNoCopy.png) no-repeat center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDnDIcon {
	background: url(../../../../../dojo/resources/images/dndMove.png) no-repeat center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDnDIcon {
	background: url(../../../../../dojo/resources/images/dndCopy.png) no-repeat center center;
}
.dojoxGrid .dojoxGridSortNode {
	position: relative;
	border: 1px solid transparent;
}
.dj_ie6 .dojoxGrid .dojoxGridSortNode,
.dj_ie7 .dojoxGrid .dojoxGridSortNode {
	overflow: hidden;
	width:100%;	
}
.dojoxGrid .dojoxGridSortNoWrap {
	white-space:nowrap;
	cursor: pointer;
}
.dojoxGridSortBtn {
	width: 10px;
	height:100%;
	visibility: hidden;
	top: 0;
	display:block;
	position: absolute;
	color: #000;
	background: #DFEAF1 url(../images/sprite_icons.png) no-repeat 100px 0;
	text-decoration: none;
	outline: none;
	right: 0;
	border: 1px solid transparent;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-khtml-box-sizing: border-box; 
}
.dj_ie6 .dojoxGridSortBtn,
.dj_ie6 .dojoxGrid .dojoxGridSortNode {
	border: none;
}
.dojoxGridSortBtnNested {
	right: 10px;
}
.dojoxGridCellSortFocus  .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #DFEAF1;
}
.dojoxGridCellOver .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #9dcfff;
}
.dojoxGridSortNode {
	outline: none;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridCellSortFocus .dojoxGridSortNode,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellOver .dojoxGridSortNodeMain,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeMain {
	margin-right: 5px;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode {
	margin-right: 24px;
}
html > body .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle {
	right: -5px;
}
html > body .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -10px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -28px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnNested,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	right: -17px;
}
.dojoxGrid .dojoxGridHeader .dojoxGridRowTable .dojoxGridNoSort .dojoxGridSortNode {
	margin: 0!important;
}
.dj_ie7 .dojoxGridSortBtn {
	right: 0!important;
}
.dj_ie7 .dojoxGridSortBtnNested {
	right: 10px!important;
}
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle,					
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnNested,				
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnNested,
.dojoxGrid .dojoxGridCellShowIndex .dojoxGridSortNode .dojoxGridSortBtnNested,		
.dojoxGrid .dojoxGridSortNodeSorted .dojoxGridSortBtn {										
	visibility: visible;
}
.dojoxGridSingleSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnNested,	
.dojoxGridSingleSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnNested,
.dojoxGridSingleSorted .dojoxGridSortNode .dojoxGridSortBtnNested {							
	visibility: hidden;
}
.dojoxGridSortNodeAsc .dojoxGridSortBtnSingle {
	background-position: -119px 5px;
	visibility: visible;
}
.dojoxGridSortNodeDesc .dojoxGridSortBtnSingle {
	background-position: -99px  5px;
	visibility: visible;
}
.dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnAsc,
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnAsc {
	background-position: -139px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnDesc, 
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnDesc {
	background-position: -179px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	background-position: -149px 5px;
	width: 19px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnNested {
	background-position: -129px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnNested {
	background-position: -169px 5px;
}
.dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtn:hover {
	background-color:#A3E4FF;  
}
.dojoxGrid .dojoxGridSortNodeFocus,
.dojoxGridCellSortFocus .dojoxGridRowSelector,
.dojoxGridCellSortFocus .dojoxGridSortBtnFocus {
	border: 1px dashed #666;
}
.dijitToasterContent {
	padding:1em;
	padding-top:0.25em;
	background:#73c74a;
}
.dijitToasterMessage{ 
	color:#fff;
}
.dijitToasterWarning{ }
.dijitToasterError,
.dijitToasterFatal{
	font-weight:bold;
	color:#fff;
}
.dijitToasterWarning .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 
.dijitToasterError .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
}
 
.dijitToasterClip {
	position: absolute;
	z-index: 5000;
	overflow: hidden;
}
.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	margin: 0px;
	font:0.75em Tahoma, Helvetica, Verdana, Arial;
}
 
.dojoxEllipsis,
.dojoxEllipsisShown {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.dojoxEllipsis window {
    width:100%;
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsis description{
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsisIFrame{
	white-space: normal;
	border: none;
	width: 100%;
	display: block;
	height: 1px;
	margin-top: -1px;
	clear: both;
}
.dojoxEllipsisContainer{
	width: 100%;
}
.dojoxEllipsisShown:after{
	content: "\2026"
}
.tundra .dojoxGridHeader .dojoxGridCell{
	background: #fafafa url(../../../../../dijit/themes/tundra/images/titleBar.png) repeat-x bottom left;
	border-top: 1px solid #bfbfbf;
	
}
.tundra .dojoxGridCell {
	padding:0px;
	
	
	
}
.dj_ie6 .tundra .dojoxGridMasterView .dojoxGridCellOver{
	border: 1px dashed #e9e9e9;
}
.dj_ie6 .tundra .dojoxGridHeader .dojoxGridCellOver{
	border-bottom: none !important;
	border-right: 1px solid #D5CDB5 !important;
	border-top: 1px solid #D5CDB5 !important;
}
.tundra .dojoxGridRowbarInner {
	width:20px;
}
.tundra .dojoxGridCellOver .dojoxGridSortNode,
.tundra .dojoxGridCellSortFocus .dojoxGridSortNode {
	cursor:pointer;
	background: #f8fafd url(../../../../../dijit/themes/tundra/images/accordionItemHover.gif) bottom repeat-x;
}
.dj_webkit .tundra .dojoxGridCell,
.dj_webkit .tundra .dojoxGridCellFocus {
	outline: none;
}
.tundra .dojoxGridPaginator {
	background: url(../../../../../dijit/themes/tundra/images/titleBar.png) repeat-x top left;
}
.tundra .dojoxGridFBar {
	background-color: #eeeeee;
	border: 1px solid #bfbfbf;
}
.tundra .dojoxGridFBarFiltered {
	background: #fafafa url(../../../../../dijit/themes/tundra/images/titleBar.png) repeat-x bottom left;
}
.tundra .dojoxGridFBarHover {
	background-color: #cccccc;
	background-image: none;
}
.tundra .dojoxGridFStatusTip table {
	border: 1px solid #eeeeee;
}
.tundra .dojoxGridFStatusTip th {
	background: #fafafa url(../../../../../dijit/themes/tundra/images/titleBar.png) repeat-x bottom left;
	border-bottom: 1px solid #eeeeee;
}
.tundra .dojoxGridFStatusTip th div {
	border-left: 1px solid white;
	border-right: 1px solid #eeeeee;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.tundra .dojoxGridFStatusTip th.lastColumn div {
	border-right: 1px solid white;
}
.tundra .dojoxGridFStatusTip td {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.tundra .dojoxGridFStatusTipRel,
.tundra .dojoxGridFStatusTipCondition {
	font-style: italic;
}
.tundra .dojoxGridFStatusTipOddRow {
	background-color: #f2f5f9;
}
.tundra .dojoxGridSortBtn {
	padding-top: 3px;
}
.tundra .dojoxGridSortBtnNested {
	right: 11px;
}
.tundra .dojoxGridCellOver  .dojoxGridSortBtn,
.tundra .dojoxGridCellSortFocus  .dojoxGridSortBtn {
	background-color: #ccc;
}
.tundra .dojoxGridCellOver .dojoxGridSortNode,
.tundra .dojoxGridCellSortFocus .dojoxGridSortNode,
.tundra .dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellOver .dojoxGridSortNodeMain,
.tundra .dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeMain {
	margin-right: 12px;
}
.tundra .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.tundra .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode {
	margin-right: 31px;
}
.tundra .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle,
.tundra .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
.tundra .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
.tundra .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle  {
	right: -12px;
}
.tundra .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
.tundra .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle,
.tundra .dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
.tundra .dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -31px;
}
.tundra .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnNested,
.tundra .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	right: -20px;
}
.tundra .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle {
	background-position: -119px 8px;
}
.tundra .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle {
	background-position: -99px  8px;
}
.tundra .dojoxGridCellOver .dojoxGridSortBtnSingle,
.tundra .dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 8px;
}
.tundra .dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.tundra .dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.tundra .dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnAsc,
.tundra .dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnAsc {
	background-position: -139px 8px;
}
.tundra .dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.tundra .dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.tundra .dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnDesc,
.tundra .dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnDesc {
	background-position: -179px 8px;
}
.tundra .dojoxGridCellOver .dojoxGridSortBtnNested,
.tundra .dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	background-position: -150px 8px;
}
.tundra .dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnNested,
.tundra .dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnNested {
	background-position: -130px 8px;
}
.tundra .dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnNested,
.tundra .dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnNested {
	background-position: -170px 8px;
}
.tundra .dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
.tundra .dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 8px;
}
