.dojoxGrid {
	border:1px solid #DBDBDB;
}
.dojoxGridCellContent {
	padding:3px;
}
.dojoxGridSortNode {
	padding:3px;
}
.dojoxGridInProgress {
	cursor:progress;
}
.dojoxGridRowSelectorStatusText{
	visibility:hidden;
}
.dijit_a11y .dojoxGridRowSelected {
	opacity:0.8 !important;
}
.dijit_a11y .dojoxGridBorderDIV {
	border:2px solid #000 !important;
}
.dijit_a11y .dojoxGridRowSelector {
	height:100% !important;
}
.dijit_a11y .dojoxGridRowSelectorStatusText{
	font-size:larger !important;
	visibility:visible;
}
.dijit_a11y .dijitCheckBox .dojoxGridRowSelectorStatusText{
	font-weight:bolder !important;
	font-size:x-large !important;
}
.dijit_a11y .dijitCheckBoxChecked .dojoxGridRowSelectorStatusText{
	font-size:small !important;
}
.dojoxGridFBar {
	width: 100%;
	cursor: pointer;
}
.dojoxGridFBar .dojoxGridFBarBtn {
	margin: 0;
}
.dojoxGridFBarBtnTD {
	width: 38px;
}
.dojoxGridFBar .dojoxGridFBarBtn .dijitButtonNode {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 2px;
}
.dojoxGridFBarDefFilterBtnIcon {
	background: url(images/sprite_icons.png) no-repeat;
	background-position: -100px -18px;
	width: 14px;
	height: 14px;
}
.dj_ie .dojoxGridFBarInner{
	display: inline-block;
	width: 100%;
}
.dojoxGridFBarStatus {
	margin-left: 9px;
	float: left;
}
.dojoxGridFBarClearFilterBtn {
	margin: 0 0 0 10px;
	vertical-align: top;
	float: left;
}
.dojoxGridFBarInfoTD .dojoxGridFBarClearFilterBtn .dijitButtonNode,
.dojoxGridFBarInfoTD .dojoxGridFBarCloseBtn .dijitButtonNode,
.dojoxGridFDPane .dijitAccordionTitle .dijitButtonNode,
.dojoxGridFStatusTipDetail .dijitButton .dijitButtonNode {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	background-image: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
}
.dj_ie .dojoxGridFBarInner {
	position: relative;
}
.dojoxGridFBarCloseBtn {
	margin: 0 4px 0 0;
	float: right;
}
.dj_ie .dojoxGridFBarCloseBtn {
	float: none;
	position: absolute;
	right: 0;
}
.dojoxGridFBarCloseBtnIcon {
	background: url(images/sprite_icons.png) no-repeat;
	background-position: -119px -20px;
	width: 14px;
	height: 14px;
}
.dijitButtonHover .dojoxGridFBarCloseBtnIcon {
	background-position: -140px -20px;
}
.dijitButtonActive .dojoxGridFBarCloseBtnIcon {
	background-position: -160px -20px;
}
.dojoxGridFDTitlePane {
	width: 316px;
	height: 330px;
}
.dijit_a11y .dojoxGridFDTitlePane .dijitArrowButtonInner{
	
	display:none !important;
}
.dojoxGridFDTitlePane .dijitDialogPaneContent {
	padding: 7px 5px 9px 5px;
	height: 290px !important;
}
.dojoxGridFDTitlePane .dijitTitlePaneTitle {
	cursor: move;
}
.dojoxGridFDPaneRelation {
	margin: 0 0 3px 4px;
}
.dojoxGridFDPane {
	width: 100%;
	height: 100%;
	position: relative;
}
.dojoxGridFDPaneRulePane {
	height: 222px;
	overflow: auto;
	
	position: relative;
}
.dj_ie6 .dojoxGridFDPaneRulePane {
	width: 100%;
}
.dojoxGridFDPane .dijitAccordionContainer .dijitContentPane {
	padding: 6px 9px;
}
.dojoxGridFDPane .dijitAccordionTitle {
	position: relative;
	
	min-height: 17px;
}
.dojoxGridFDPane .dijitAccordionTitle .dijitButton {
	position: absolute;
	margin: 0;
	right: 3px;
	top: 4px;
}
.dj_ie6 .dojoxGridFDPane .dijitAccordionTitle .dijitButton {
	top: 2px;
}
.dojoxGridFDPane .dijitAccordionTitleFocus {
	margin-right: 14px;
}
.dojoxGridFDPane .dijitAccordionText {
	display: inline-block;
	position: relative;
}
.dojoxGridFCBoxRemoveCBoxBtnIcon {
	background-image: url(images/sprite_icons.png);
	background-position: -198px -18px;
	width: 16px;
	height: 16px;
}
.dijitButtonHover .dojoxGridFCBoxRemoveCBoxBtnIcon {
	background-position: -198px 2px;
}
.dojoxGridRuleTitleCondition {
	font-style: italic;
}
.dojoxGridFDPaneModes .dijitSelect {
	position: relative;
}
.dojoxGridFDPaneBtns {
	position: absolute;
	right: 0;
	bottom: 0;
}
.dj_ie7 .dojoxGridFDPaneBtns,
.dj_ie6 .dojoxGridFDPaneBtns {
	z-index: -1;
}
.dojoxGridFDPaneBtns .dijitButton {
	float: right;
}
.dojoxGridFDPaneAddCBoxBtn {
	margin-top: 9px;
}
.dojoxGridFDPaneAddCBoxBtnIcon {
	background-image: url(images/sprite_icons.png);
	background-position: -218px 2px;
	width: 16px;
	height: 16px;
}
.dijitButtonDisabled .dojoxGridFDPaneAddCBoxBtnIcon {
	background-position: -218px -18px;
}
.dojoxGridFCBox {
	height: 125px;
}
.dojoxGridFCBoxSelCol, 
.dojoxGridFCBoxCondition {
	height: 40px;
}
.dojoxGridFCBox .dojoxGridFCBoxColSelect, 
.dojoxGridFCBox .dojoxGridFCBoxCondSelect, 
.dojoxGridFCBox .dojoxGridFCBoxValueBox {
	margin: 5px 0 0 0;
	width: 100%;
	
	display: inline-table;
}
.dojoxGridFCBoxCondSelectAlt {
	width: 100%;
	padding: 5px 0 0 0;
	font-weight: bold;
}
.dojoxGridFCBox .dijitSelect .dijitArrowButton {
	width: 18px;
}
.dojoxGridFCBoxStartValue {
	width: 45%;	
}
.dojoxGridFCBoxEndValue {
	float: right;
	width: 45%;
}
.dojoxGridFCBoxRangeValueTxt {
	margin-left: 4px;
}
.dojoxGridFStatusTipDialog .dijitTooltipContainer {
	padding: 9px 5px;
}
.dojoxGridFStatusTip thead,
.dojoxGridFStatusTip tr {
	height: 19px;
}
.dojoxGridFStatusTip th {
	max-width: 150px;
	width: expression(this.clientWidth > 150 ? "150px" : "auto");
}
.dojoxGridFStatusTip th div {
	padding: 2px 5px;
}
.dojoxGridFStatusTip td {
	padding: 2px 6px;
	max-width: 150px;
	overflow: hidden;
	width: expression(this.clientWidth > 150 ? "150px" : "auto");
}
.dojoxGridFStatusTipHead {
	margin-bottom: 9px;
}
.dojoxGridFStatusTipTitle {
	font-weight: bold;
	margin-right: 1em;
}
.dojoxGridFStatusTipHandle {
	position: relative;
	padding-right: 16px;
}
.dojoxGridFStatusTipDetail .dijitButton {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -1px;
	right:0;
}
.dojoxGridFStatusTipDelRuleBtnIcon {
	background-image: url(images/sprite_icons.png);
	background-position: -198px -18px;
	height: 16px;
	width: 16px;
}
.dijitButtonHover .dojoxGridFStatusTipDelRuleBtnIcon {
	background-position: -198px 2px;
}
.dj_ie7 .dojoxGridClearFilterConfirm,
.dj_ie6 .dojoxGridClearFilterConfirm {
	width: 300px;
}
.dojoxGridClearFilterBtns{
	padding: 10px;
	height: 18px;
}
.dojoxGridClearFilterBtns .dijitButton {
	float: right;
}
.dojoxGridTrueBox {
	float: left;
	width: 49%;
}
.dojoxGridFalseBox {
	float: left;
	width: 49%;
}
.dojoxGridBoolValueBox .dijitRadio {
	vertical-align: middle;
} 
.dojoxGridTrueLabel,
.dojoxGridFalseLabel {
	width: 116px;
	display:inline-block;
	vertical-align: middle;
}
.dj_ie7 .dojoxGridTrueLabel,
.dj_ie7 .dojoxGridFalseLabel {
	display: inline;
}
.dojoxGridPaginator {
	border-top:1px #DBDBDB solid;
	text-align:center;
	width: 100%;
	height: 24px;
	table-layout : fixed;
	background-color: #EAEAEA;
}
.dojoxGridDescriptionTd {
	text-align: left;
	width: 35%;
}
.dojoxGridDescription {
	text-align: left;
	margin-left: 9px;
	overflow: hidden;
}
.dojoxGridPaginatorFastStep {
	text-align: right;
	width: 35%;
	overflow: hidden;
}
.dojoxGridPaginatorStep {
	float: right;
}
.dojoxGridPaginatorGotoTd {
	width: 20px!important;
}
.dojoxGridPaginatorGotoDiv {
	cursor: pointer;
	width: 12px!important;
	height: 16px!important;
	margin: 0 6px 0 2px;
	background: url(images/sprite_icons.png) no-repeat -77px 4px;
}
.dojoxGridPaginatorGotoDivDisabled {
	background: url(images/sprite_icons.png) no-repeat -77px -16px;
}
.dojoxGridWardButton {
	margin-top: 2px;
	width: 12px!important;
	height: 12px!important;
	float: left;
	background: url(images/sprite_icons.png) no-repeat;
}
.dojoxGridWardButtonInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridWardButtonInner {
	visibility: visible;
	margin-bottom: 8px;
}
.dojoxGridfirstPageBtn {
	cursor: pointer;
	margin-left: 1px;
	background-position: -57px 3px;
}
.dojoxGridfirstPageBtnDisable {
	margin-left: 1px;
	background-position: -57px -17px;
}
.dojoxGridprevPageBtn {
	cursor: pointer;
	margin: 2px 2px 0 9px;
	background-position: 3px 3px;
}
.dojoxGridprevPageBtnDisable {
	margin: 2px 2px 0 9px;
	background-position: 3px -17px;
}
.dojoxGridlastPageBtn {
	cursor: pointer;
	margin: 2px 9px 0 9px;
	background-position: -37px 3px;
}
.dojoxGridlastPageBtnDisable {
	margin: 2px 9px 0 9px;
	background-position: -37px -17px;
}
.dojoxGridnextPageBtn {
	cursor: pointer;
	margin-left: 3px;
	background-position: -17px 3px;
}
.dojoxGridnextPageBtnDisable {
	margin-left: 3px;
	background-position: -17px -17px;
}
.dojoxGridInactived {
	font-weight: normal;
	color: #5D88AF;
	cursor: pointer;
	margin: 1px 6px 0 5px;
	float: left;
	zoom: 1; 
}
.dojoxGridActived {
	font-weight: bold;
	color: black;
	margin: 1px 6px 0 5px;
	float: left;
	text-decoration: none!important; 
	zoom: 1; 
}
.dojoxGridInactiveSwitch {
	font-weight: normal;
	color: #5D88AF;
	float: left;
	cursor: pointer;
	margin: 1px 7px 0 7px;
	zoom: 1; 
}
.dojoxGridActivedSwitch {
	font-weight: bold;
	color: black;
	float: left;
	margin: 1px 7px 0 7px;
	text-decoration: none!important; 
	zoom: 1; 
}
.dojoxGridSeparator {
	float: left;
}
.dojoxGridPageTextHover {
	text-decoration: underline;
}
.dojoxGridDialogMargin {
	width: 220px!important;
	margin-bottom: 10px;
}
.dj_ie6 .dojoxGridDialogMargin {
	position: relative;
}
.dojoxGridDialogButton {
	width: 220px!important;
	text-align: right;
}
.dojoxGridBorderDIV {
	width:2px;
	background-color: gray;
	font-size:0em;
	position:absolute;
	z-index:9999;
}
.dojoxGridCellBorderDIV {
	position:absolute;
	background-color: transparent;
	border: none;
}
.dojoxGridCellBorderLeftTopDIV {
	position: absolute;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 2px 0 0 2px;
	border-color: gray transparent transparent gray;
}
.dojoxGridCellBorderRightBottomDIV {
	position: absolute;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: transparent gray gray transparent;
}
.dojoxGridDnDItemIcon {
	background-image: url(images/sprite_icons.png);
}
.dojoxGridDnDIconRowSingle {
	background-position: -256px 5px;
}
.dojoxGridDnDIconRowMulti {
	background-position: -256px -16px;
}
.dojoxGridDnDIconColSingle {
	background-position: -277px 3px;
}
.dojoxGridDnDIconColMulti {
	background-position: -277px -17px;
}
.dojoxGridDnDIconCellSingle {
	background-position: -235px 5px;
}
.dojoxGridDnDIconCellMulti {
	background-position: -236px -16px;
}
.dojoxGridDndAvatar {
	background-color:white;
	border: 1px solid #CCCCCC;
	padding: 0px;
	-moz-box-shadow: 5px 5px 7px #999;
	-webkit-box-shadow: 5px 5px 7px #999;
	box-shadow: 5px 5px 7px #999;
	z-index: 999;
}
.dojoxGridDndAvatar td {
	padding: 3px;
}
.dojoxGridDnDIcon,
.dojoxGridDnDItemIcon {
	width: 16px;
	height: 16px;
}
.dojoDndMove .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoMove.png) no-repeat center center;
}
.dojoDndCopy .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoCopy.png) no-repeat center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndMove.png) no-repeat center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndCopy.png) no-repeat center center;
}
.dojoxGrid .dojoxGridSortNode {
	position: relative;
	border: 1px solid transparent;
}
.dj_ie6 .dojoxGrid .dojoxGridSortNode,
.dj_ie7 .dojoxGrid .dojoxGridSortNode {
	overflow: hidden;
	width:100%;	
}
.dojoxGrid .dojoxGridSortNoWrap {
	white-space:nowrap;
	cursor: pointer;
}
.dojoxGridSortBtn {
	width: 10px;
	height:100%;
	visibility: hidden;
	top: 0;
	display:block;
	position: absolute;
	color: #000;
	background: #DFEAF1 url(images/sprite_icons.png) no-repeat 100px 0;
	text-decoration: none;
	outline: none;
	right: 0;
	border: 1px solid transparent;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-khtml-box-sizing: border-box; 
}
.dj_ie6 .dojoxGridSortBtn,
.dj_ie6 .dojoxGrid .dojoxGridSortNode {
	border: none;
}
.dojoxGridSortBtnNested {
	right: 10px;
}
.dojoxGridCellSortFocus  .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #DFEAF1;
}
.dojoxGridCellOver .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #9dcfff;
}
.dojoxGridSortNode {
	outline: none;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridCellSortFocus .dojoxGridSortNode,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellOver .dojoxGridSortNodeMain,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeMain {
	margin-right: 5px;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode {
	margin-right: 24px;
}
html > body .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle {
	right: -5px;
}
html > body .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -10px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -28px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnNested,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	right: -17px;
}
.dojoxGrid .dojoxGridHeader .dojoxGridRowTable .dojoxGridNoSort .dojoxGridSortNode {
	margin: 0!important;
}
.dj_ie7 .dojoxGridSortBtn {
	right: 0!important;
}
.dj_ie7 .dojoxGridSortBtnNested {
	right: 10px!important;
}
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle,					
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnNested,				
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnNested,
.dojoxGrid .dojoxGridCellShowIndex .dojoxGridSortNode .dojoxGridSortBtnNested,		
.dojoxGrid .dojoxGridSortNodeSorted .dojoxGridSortBtn {										
	visibility: visible;
}
.dojoxGridSingleSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnNested,	
.dojoxGridSingleSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnNested,
.dojoxGridSingleSorted .dojoxGridSortNode .dojoxGridSortBtnNested {							
	visibility: hidden;
}
.dojoxGridSortNodeAsc .dojoxGridSortBtnSingle {
	background-position: -119px 5px;
	visibility: visible;
}
.dojoxGridSortNodeDesc .dojoxGridSortBtnSingle {
	background-position: -99px  5px;
	visibility: visible;
}
.dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnAsc,
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnAsc {
	background-position: -139px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnDesc, 
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnDesc {
	background-position: -179px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	background-position: -149px 5px;
	width: 19px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnNested {
	background-position: -129px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnNested {
	background-position: -169px 5px;
}
.dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtn:hover {
	background-color:#A3E4FF;  
}
.dojoxGrid .dojoxGridSortNodeFocus,
.dojoxGridCellSortFocus .dojoxGridRowSelector,
.dojoxGridCellSortFocus .dojoxGridSortBtnFocus {
	border: 1px dashed #666;
}
.dijitToasterContent {
	padding:1em;
	padding-top:0.25em;
	background:#73c74a;
}
.dijitToasterMessage{ 
	color:#fff;
}
.dijitToasterWarning{ }
.dijitToasterError,
.dijitToasterFatal{
	font-weight:bold;
	color:#fff;
}
.dijitToasterWarning .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 
.dijitToasterError .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
}
 
.dijitToasterClip {
	position: absolute;
	z-index: 5000;
	overflow: hidden;
}
.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	margin: 0px;
	font:0.75em Tahoma, Helvetica, Verdana, Arial;
}
 
.dojoxEllipsis,
.dojoxEllipsisShown {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.dojoxEllipsis window {
    width:100%;
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsis description{
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsisIFrame{
	white-space: normal;
	border: none;
	width: 100%;
	display: block;
	height: 1px;
	margin-top: -1px;
	clear: both;
}
.dojoxEllipsisContainer{
	width: 100%;
}
.dojoxEllipsisShown:after{
	content: "\2026"
}
