
.dojoxGrid .dojoxGridSortNode {
	position: relative;
	border: 1px solid transparent;
}
.dj_ie6 .dojoxGrid .dojoxGridSortNode,
.dj_ie7 .dojoxGrid .dojoxGridSortNode {
	overflow: hidden;
	width:100%;	
}
.dojoxGrid .dojoxGridSortNoWrap {
	white-space:nowrap;
	cursor: pointer;
}
.dojoxGridSortBtn {
	width: 10px;
	height:100%;
	visibility: hidden;
	top: 0;
	display:block;
	position: absolute;
	color: #000;
	background: #DFEAF1 url(images/sprite_icons.png) no-repeat 100px 0;
	text-decoration: none;
	outline: none;
	right: 0;
	border: 1px solid transparent;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-khtml-box-sizing: border-box; 
}
.dj_ie6 .dojoxGridSortBtn,
.dj_ie6 .dojoxGrid .dojoxGridSortNode {
	border: none;
}
.dojoxGridSortBtnNested {
	right: 10px;
}
.dojoxGridCellSortFocus  .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #DFEAF1;
}
.dojoxGridCellOver .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #9dcfff;
}
.dojoxGridSortNode {
	outline: none;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridCellSortFocus .dojoxGridSortNode,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellOver .dojoxGridSortNodeMain,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeMain {
	margin-right: 5px;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode {
	margin-right: 24px;
}
html > body .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle {
	right: -5px;
}
html > body .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -10px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -28px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnNested,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	right: -17px;
}
.dojoxGrid .dojoxGridHeader .dojoxGridRowTable .dojoxGridNoSort .dojoxGridSortNode {
	margin: 0!important;
}
.dj_ie7 .dojoxGridSortBtn {
	right: 0!important;
}
.dj_ie7 .dojoxGridSortBtnNested {
	right: 10px!important;
}
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle,					
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnNested,				
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnNested,
.dojoxGrid .dojoxGridCellShowIndex .dojoxGridSortNode .dojoxGridSortBtnNested,		
.dojoxGrid .dojoxGridSortNodeSorted .dojoxGridSortBtn {										
	visibility: visible;
}
.dojoxGridSingleSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnNested,	
.dojoxGridSingleSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnNested,
.dojoxGridSingleSorted .dojoxGridSortNode .dojoxGridSortBtnNested {							
	visibility: hidden;
}
.dojoxGridSortNodeAsc .dojoxGridSortBtnSingle {
	background-position: -119px 5px;
	visibility: visible;
}
.dojoxGridSortNodeDesc .dojoxGridSortBtnSingle {
	background-position: -99px  5px;
	visibility: visible;
}
.dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnAsc,
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnAsc {
	background-position: -139px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnDesc, 
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnDesc {
	background-position: -179px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	background-position: -149px 5px;
	width: 19px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnNested {
	background-position: -129px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnNested {
	background-position: -169px 5px;
}
.dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtn:hover {
	background-color:#A3E4FF;  
}
.dojoxGrid .dojoxGridSortNodeFocus,
.dojoxGridCellSortFocus .dojoxGridRowSelector,
.dojoxGridCellSortFocus .dojoxGridSortBtnFocus {
	border: 1px dashed #666;
}
