
.dijitRtl .dijitPlaceHolder {
	left: auto;
	right: 0;
}
.dijitMenuItemRtl {
	text-align: right;
}
.dj_iequirks .dijitComboButtonRtl BUTTON {
	
	float:left;
}
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitComboBoxRtl .dijitArrowButtonContainer {
	
	border-right-width: 1px !important;
	border-left-width: 0 !important;
}
.dijitSpinnerRtl .dijitSpinnerButtonContainer .dijitArrowButton {
	right: 0;
	left: auto;
}
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitArrowButtonContainer {
	float: left;
}
.dijitCalendarRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}
.dijitCalendarRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}
.dijitSliderRtl .dijitSliderImageHandleV {
	left:auto;
}
.dijitSliderRtl .dijitSliderImageHandleH {
	left:-50%;
}
.dijitSliderRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}
.dijitSliderRtl .dijitRuleContainerV {
	float:right;
}
.dj_ie .dijitSliderRtl .dijitRuleContainerV {
	text-align:right;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelV {
	text-align:left;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelH {
	zoom:1;
}
.dijitSliderRtl .dijitSliderProgressBarH {
	
	float:right;
	right:0;
	left:auto;
}
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}
.dijitTabRtl .dijitTabCloseButton {
	margin-left: 0;
	margin-right: 1em;
}
.dj_ie .dijitTimePickerRtl .dijitTimePickerItem {
	width:100%;
}
.dijitColorPaletteRtl .dijitColorPaletteUnder {
	
	left: auto;
	right: 0;
}
.dijitSelectRtl .dijitButtonContents {
	text-align: right;
}
.claro .dijitTextBoxRtlError .dijitValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
.claro .dijitComboButtonRtl .dijitStretch {
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.claro .dijitComboButtonRtl .dijitArrowButton {
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding: 3px 0 4px;
  border-left-width: 1px;
  border-right-width: 0;
}
.claro .dijitTabContainerTop-tabs .dijitTabRtl, .claro .dijitTabContainerBottom-tabs .dijitTabRtl {
  margin-right: 0;
  margin-left: 1px;
}
.claro .dijitTabRtl {
  -moz-box-orient: horizontal;
  text-align: right;
}
.dj_ie7 .claro .dijitTabRtl .dijitTabContent {
  display: block;
  left: 0;
}
.dj_ie7 .claro .dijitTabContainerTop-tabs .dijitTabRtl, .dj_ie7 .claro .dijitTabContainerTop-tabs .dijitTabCheckedRtl {
  top: 1px;
}
.dj_ie7 .claro .tabStripButtonRtl .dijitButtonContents,
.dj_ie8 .claro .tabStripButtonRtl .dijitButtonContents,
.dj_ie6 .claro .dijitTabContainerTop-tabs .dijitTabRtl .dijitTabInnerDiv,
.dj_ie6 .claro .dijitTabContainerBottom-tabs .dijitTabRtl .dijitTabInnerDiv,
.dj_ie7 .claro .dijitTabContainerTop-tabs .dijitTabRtl .dijitTabInnerDiv,
.dj_ie7 .claro .dijitTabContainerBottom-tabs .dijitTabRtl .dijitTabInnerDiv,
.dj_iequirks .claro .dijitTabContainerTop-tabs .dijitTabRtl .dijitTabInnerDiv,
.dj_iequirks .claro .dijitTabContainerBottom-tabs .dijitTabRtl .dijitTabInnerDiv {
  float: left;
}
.dj_ie6 .claro .dijitTabRtl .tabLabel,
.dj_ie6 .claro .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie6 .claro .dijitTabContainerLeft-tabs .dijitTabRtl,
.dj_ie7 .claro .dijitTabContainerRight-tabs .dijitTabRtl .dijitTabInnerDiv,
.dj_ie7 .claro .dijitTabContainerLeft-tabs .dijitTabRtl .dijitTabInnerDiv {
  
  zoom: 1;
}
.dj_ie6 .claro .dijitTabRtl .dijitTabCloseButton, .dj_ie7 .claro .dijitTabRtl .dijitTabCloseButton, .dj_iequirks .claro .dijitTabRtl .dijitTabCloseButton {
  margin-right: 5px;
}
.dj_ie6 .claro .dijitTabContainerRightRtl .dijitTabContainerRight-tabs, .dj_ie6 .claro .dijitTabContainerLeftRtl .dijitTabContainerLeft-tabs {
  width: 1%;
}
.dj_ie6 .dijitTabContainerTopStrip, .dj_ie6 .dijitTabContainerBottomStrip {
  position: absolute;
}
.dj_iequirks .claro .dijitTabContainerTopRtl .dijitTabContainerTopStrip {
  padding-top: 10px;
}
.dj_ie7 .claro .dijitTabContainerRight-tabs .dijitTabRtlChecked .dijitTabInnerDiv {
  background-position: -341px -179px;
}
.dj_ie6 .dijitTabContainerTopRtl .dijitTabStripIcon, .dj_ie6 .dijitTabContainerBottomRtl .dijitTabStripIcon {
  position: relative;
}
.dj_ie6-rtl .claro .dijitTabContainerTop-tabs {
  
  padding-left: 3px;
}
.dj_iequirks-rtl .claro .dijitTabListWrapper {
  
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.claro .dijitSliderRtl .dijitSliderProgressBarH,
.claro .dijitSliderRtl .dijitSliderRemainingBarH,
.claro .dijitSliderRtl .dijitSliderLeftBumper,
.claro .dijitSliderRtl .dijitSliderRightBumper,
.claro .dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.claro .dijitSliderRtl .dijitSliderProgressBarV, .claro .dijitSliderRtl .dijitSliderRemainingBarV, .claro .dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.claro .dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
}
.claro .dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
}
.claro .dijitSliderRtl .dijitSliderIncrementIconH {
  background-position: -357px 50%;
}
.claro .dijitSliderRtl .dijitSliderDecrementIconH {
  background-position: -251px 50%;
}
.claro .dijitSelectRtl .dijitButtonContents {
  border-right-width: 0;
  border-left-width: 1px;
}
.claro .dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 5px;
}
.claro .dijitDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
  padding: 3px 7px 2px 5px;
}
.claro .dijitEditorRtl .dijitEditorIFrameContainer {
  padding: 3px 10px 1px 3px;
}
.dijitEditorRtl .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png); 
}
.dijitEditorRtlDisabled .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsDisabled_rtl.png); 
}
.dijitToolbarRtl .dijitToolbarSeparator {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png);
}
.dijitRtl .dijitIconSave,
.dijitRtl .dijitIconPrint,
.dijitRtl .dijitIconCut,
.dijitRtl .dijitIconCopy,
.dijitRtl .dijitIconClear,
.dijitRtl .dijitIconDelete,
.dijitRtl .dijitIconUndo,
.dijitRtl .dijitIconEdit,
.dijitRtl .dijitIconNewTask,
.dijitRtl .dijitIconEditTask,
.dijitRtl .dijitIconEditProperty,
.dijitRtl .dijitIconTask,
.dijitRtl .dijitIconFilter,
.dijitRtl .dijitIconConfigure,
.dijitRtl .dijitIconSearch,
.dijitRtl .dijitIconApplication,
.dijitRtl .dijitIconBookmark,
.dijitRtl .dijitIconChart,
.dijitRtl .dijitIconConnector,
.dijitRtl .dijitIconDatabase,
.dijitRtl .dijitIconDocuments,
.dijitRtl .dijitIconMail,
.dijitRtl .dijitLeaf,
.dijitRtl .dijitIconFile,
.dijitRtl .dijitIconFunction,
.dijitRtl .dijitIconKey,
.dijitRtl .dijitIconPackage,
.dijitRtl .dijitIconSample,
.dijitRtl .dijitIconTable,
.dijitRtl .dijitIconUsers,
.dijitRtl .dijitFolderClosed,
.dijitRtl .dijitIconFolderClosed,
.dijitRtl .dijitFolderOpened,
.dijitRtl .dijitIconFolderOpen,
.dijitRtl .dijitIconError, .dijitRtl .dijitContentPaneError { 
	background-image: url(../../icons/images/commonIconsObjActEnabled_rtl.png); 
	width: 16px;
	height: 16px;
}
.dj_ie6 .dijitRtl .dijitIconSave,
.dj_ie6 .dijitRtl .dijitIconPrint,
.dj_ie6 .dijitRtl .dijitIconCut,
.dj_ie6 .dijitRtl .dijitIconCopy,
.dj_ie6 .dijitRtl .dijitIconClear,
.dj_ie6 .dijitRtl .dijitIconDelete,
.dj_ie6 .dijitRtl .dijitIconUndo,
.dj_ie6 .dijitRtl .dijitIconEdit,
.dj_ie6 .dijitRtl .dijitIconNewTask,
.dj_ie6 .dijitRtl .dijitIconEditTask,
.dj_ie6 .dijitRtl .dijitIconEditProperty,
.dj_ie6 .dijitRtl .dijitIconTask,
.dj_ie6 .dijitRtl .dijitIconFilter,
.dj_ie6 .dijitRtl .dijitIconConfigure,
.dj_ie6 .dijitRtl .dijitIconSearch,
.dj_ie6 .dijitRtl .dijitIconApplication,
.dj_ie6 .dijitRtl .dijitIconBookmark,
.dj_ie6 .dijitRtl .dijitIconChart,
.dj_ie6 .dijitRtl .dijitIconConnector,
.dj_ie6 .dijitRtl .dijitIconDatabase,
.dj_ie6 .dijitRtl .dijitIconDocuments,
.dj_ie6 .dijitRtl .dijitIconMail,
.dj_ie6 .dijitRtl .dijitLeaf,
.dj_ie6 .dijitRtl .dijitIconFile,
.dj_ie6 .dijitRtl .dijitIconFunction,
.dj_ie6 .dijitRtl .dijitIconKey,
.dj_ie6 .dijitRtl .dijitIconPackage,
.dj_ie6 .dijitRtl .dijitIconSample,
.dj_ie6 .dijitRtl .dijitIconTable,
.dj_ie6 .dijitRtl .dijitIconUsers,
.dj_ie6 .dijitRtl .dijitFolderClosed,
.dj_ie6 .dijitRtl .dijitIconFolderClosed,
.dj_ie6 .dijitRtl .dijitFolderOpened,
.dj_ie6 .dijitRtl .dijitIconFolderOpen,
.dj_ie6 .dijitRtl .dijitIconError, .dj_ie6 .dijitRtl .dijitContentPaneError {
	background-image: url(../../icons/images/commonIconsObjActEnabled8bit_rtl.png);
}
.dijitRtl .dijitDisabled .dijitIconSave,
.dijitRtl .dijitDisabled .dijitIconPrint,
.dijitRtl .dijitDisabled .dijitIconCut,
.dijitRtl .dijitDisabled .dijitIconCopy,
.dijitRtl .dijitDisabled .dijitIconClear,
.dijitRtl .dijitDisabled .dijitIconDelete,
.dijitRtl .dijitDisabled .dijitIconUndo,
.dijitRtl .dijitDisabled .dijitIconEdit,
.dijitRtl .dijitDisabled .dijitIconNewTask,
.dijitRtl .dijitDisabled .dijitIconEditTask,
.dijitRtl .dijitDisabled .dijitIconEditProperty,
.dijitRtl .dijitDisabled .dijitIconTask,
.dijitRtl .dijitDisabled .dijitIconFilter,
.dijitRtl .dijitDisabled .dijitIconConfigure,
.dijitRtl .dijitDisabled .dijitIconSearch,
.dijitRtl .dijitDisabled .dijitIconApplication,
.dijitRtl .dijitDisabled .dijitIconBookmark,
.dijitRtl .dijitDisabled .dijitIconChart,
.dijitRtl .dijitDisabled .dijitIconConnector,
.dijitRtl .dijitDisabled .dijitIconDatabase,
.dijitRtl .dijitDisabled .dijitIconDocuments,
.dijitRtl .dijitDisabled .dijitIconMail,
.dijitRtl .dijitDisabled .dijitLeaf,
.dijitRtl .dijitDisabled .dijitIconFile,
.dijitRtl .dijitDisabled .dijitIconFunction,
.dijitRtl .dijitDisabled .dijitIconKey,
.dijitRtl .dijitDisabled .dijitIconPackage,
.dijitRtl .dijitDisabled .dijitIconSample,
.dijitRtl .dijitDisabled .dijitIconTable,
.dijitRtl .dijitDisabled .dijitIconUsers,
.dijitRtl .dijitDisabled .dijitFolderClosed,
.dijitRtl .dijitDisabled .dijitIconFolderClosed,
.dijitRtl .dijitDisabled .dijitFolderOpened,
.dijitRtl .dijitDisabled .dijitIconFolderOpen,
.dijitRtl .dijitDisabled .dijitIconError, .dijitRtl .dijitDisabled .dijitContentPaneError {
	background-image: url(../../icons/images/commonIconsObjActDisabled_rtl.png); 
}
.dijitRtl .dijitContentPaneLoading {
	background:url(../../icons/images/loadingAnimation_rtl.gif) no-repeat;
}
.claro .dijitTitlePaneRtl .dijitClosed .dijitArrowNode {
  background-position: -7px 0;
}
.claro .dijitMenuItemRtl .dijitMenuExpand {
  background-position: -7px 0;
  margin-right: 0;
  margin-left: 3px;
}
.claro .dijitMenuItemRtl .dijitMenuItemIcon {
  margin: 0 4px 0 0;
}
.claro .dijitCalendarRtl .dijitCalendarIncrease {
  background-position: 0 0;
}
.claro .dijitCalendarRtl .dijitCalendarDecrease {
  background-position: -18px 0;
}
.claro .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarIncrease {
  background-position: -36px 0;
}
.claro .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarDecrease {
  background-position: -55px 0;
}
.claro .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarIncrease {
  background-position: -72px 0;
}
.claro .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarDecrease {
  background-position: -91px 0;
}
.dj_ie .claro .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .claro .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .claro .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .claro .dijitTimePickerRtl .dijitTimePickerTickSelected {
  margin-left: -6px;
  margin-right: -8px;
  width: 114%;
}
.claro .dijitToolbar .dijitComboButtonRtl .dijitButtonNode {
  border-width: 0;
  padding: 2px;
}
.claro .dijitToolbar .dijitComboButtonRtlHover .dijitButtonNode, .claro .dijitToolbar .dijitComboButtonRtlActive .dijitButtonNode {
  border-width: 1px;
  padding: 1px;
}
.claro .dijitToolbar .dijitComboButtonRtl .dijitStretch {
  
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.claro .dijitToolbar .dijitComboButtonRtl .dijitArrowButton {
  
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.claro .dijitToolbar .dijitComboButtonRtlHover .dijitArrowButton, .claro .dijitToolbar .dijitComboButtonRtlActive .dijitArrowButton {
  
  border-left-width: 1px;
  border-right-width: 0;
  padding-left: 1px;
  padding-right: 2px;
}
