.dojoxGridRtl .dojoxGridDescription {
	text-align: right;
	margin-right: 9px;
}
.dojoxGridRtl .dojoxGridPaginatorStep {
	float: left;
}
.dojoxGridRtl .dojoxGridPaginatorGotoDiv {
	margin: 0 2px 0 6px;
}
.dojoxGridRtl .dojoxGridWardButton {
	float: right;
}
.dojoxGridRtl .dojoxGridInactived {
	margin: 1px 5px 0 6px;
	float: right;
}
.dojoxGridRtl .dojoxGridActived {
	margin: 1px 5px 0 6px;
	float: right;
}
.dijitRtl .dojoxGridDialogButton {
	float: left;
	margin-bottom: 10px;
}
.dijitRtl .dojoxGridInactiveSwitch {
	float: right;
}
.dijitRtl .dojoxGridActivedSwitch {
	float: right;
}
.dijitRtl .dojoxGridSeparator {
	float: right;
}
.dijitRtl .dojoxGridfirstPageBtn {
	cursor: pointer;
	margin: 2px 1px 0 0;
	background-position: -37px 3px;
}
.dijitRtl .dojoxGridfirstPageBtnDisable {
	margin: 2px 1px 0 0;
	background-position: -37px -17px;
}
.dijitRtl .dojoxGridprevPageBtn {
	cursor: pointer;
	margin: 2px 9px 0 5px;
	background-position: -17px 3px;
}
.dijitRtl .dojoxGridprevPageBtnDisable {
	margin: 2px 9px 0 5px;
	background-position: -17px -17px;
}
.dijitRtl .dojoxGridlastPageBtn {
	cursor: pointer;
	background-position: -57px 3px;
}
.dijitRtl .dojoxGridlastPageBtnDisable {
	background-position: -57px -17px;
}
.dijitRtl .dojoxGridnextPageBtn {
	cursor: pointer;
	margin: 2px 3px 0 0;
	background-position: 3px 3px;
}
.dijitRtl .dojoxGridnextPageBtnDisable {
	margin: 2px 3px 0 0;
	background-position: 3px -17px;
}
