
.soria .dijitInputContainer INPUT,
.soria .dijitTextBox {
	margin: 0 0.1em;
}
.soria .dijitTextBox,
.soria .dijitTextArea {
	
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #8ba0bd;
}
.soria .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.soria .dijitTextBox .dijitButtonNode {
	
	border-color: #8ba0bd;
}
.soria .dijitTextBoxFocused,
.soria .dijitTextAreaFocused {
	
	border-color:#406b9b;
}
.soria .dijitTextBoxFocused .dijitButtonNode,
.soria .dijitSpinner .dijitUpArrowButtonActive,
.soria .dijitSpinner .dijitDownArrowButtonActive {
	border-left-color:#8ba0bd;
}
.soria .dijitSpinnerFocused .dijitDownArrowButton,
.soria .dijitSpinner .dijitUpArrowButtonActive,
.soria .dijitSpinner .dijitDownArrowButtonActive {
	border-top-color:#8ba0bd;
}
.soria .dijitError {
	border-color:#f3d118;
	background-color:#f9f7ba;
	background-image:none;
}
.soria .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.soria .dijitValidationIcon {
	
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}
.soria .dijitComboBoxHighlightMatch {
	background-color:#f9f7ba;
}
