
.claro .dijitToggleButton .dijitRadio, .claro .dijitToggleButton .dijitRadioIcon {
  background-image: url('images/checkboxRadioButtonStates.png');
}
.dj_ie6 .claro .dijitToggleButton .dijitRadio, .dj_ie6 .claro .dijitToggleButton .dijitRadioIcon {
  background-image: url('images/checkboxAndRadioButtons_IE6.png');
}
.claro .dijitRadio, .claro .dijitRadioIcon {
  
  background-image: url('images/checkboxRadioButtonStates.png');
  
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0 2px 0 0;
  padding: 0;
}
.dj_ie6 .claro .dijitRadio, .dj_ie6 .claro .dijitRadioIcon {
  
  background-image: url('images/checkboxAndRadioButtons_IE6.png');
  
}
.claro .dijitRadio {
  
  background-position: -105px;
}
.claro .dijitToggleButton .dijitRadioIcon {
  
  background-position: -107px;
}
.claro .dijitRadioDisabled {
  
  background-position: -165px;
}
.claro .dijitRadioHover {
  
  background-position: -135px;
}
.claro .dijitRadioChecked {
  background-position: -90px;
}
.claro .dijitToggleButtonChecked .dijitRadioIcon {
  background-position: -92px;
}
.claro .dijitRadioCheckedHover {
  background-position: -120px;
}
.claro .dijitRadioCheckedDisabled {
  
  background-position: -150px;
}
