
.dragNode{
	z-index:10000;
	cursor:move;
}
.dragHandle{
	cursor:move;
}
.dropIndicator{
	position:relative;
	height:50px;
	border:1px dashed #FFF;
}
.dropIndicator > div{
	position:absolute;
	left:0;top:0;right:0;bottom:0;	
	background-color:#000;
	opacity:0.17; 
	filter:alpha(opacity=17); 
	-khtml-opacity:0.17; 
	-moz-opacity:0.17;
}
.dj_ie6 .dropIndicator div{
	position:relative;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=17); 
}
.dj_ie6 .dropIndicator{
	_margin:10px;
}
.dndCover{
	background-image:url(../../mdnd/../layout/resources/icons/pixel.gif);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:1000px;
	z-index:9999;
	cursor:move;
}
.dndCover2{
	z-index: 10001;
}
.dragNode{
	z-index:10000;
	cursor:move;
}
.dragHandle{
	cursor:move;
}
.dropIndicator{
	position:relative;
	height:50px;
	border:1px dashed #FFF;
}
.dropIndicator > div{
	position:absolute;
	left:0;top:0;right:0;bottom:0;	
	background-color:#000;
	opacity:0.17; 
	filter:alpha(opacity=17); 
	-khtml-opacity:0.17; 
	-moz-opacity:0.17;
}
.dj_ie6 .dropIndicator div{
	position:relative;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=17); 
}
.dj_ie6 .dropIndicator{
	_margin:10px;
}
.dndCover{
	background-image:url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:1000px;
	z-index:9999;
	cursor:move;
}
.dj_ie6 .orange .dndCover, .dj_ie7 .orange .dndCover{
	background-image:url(../../mdnd/../images/oaf/pixel.gif);
}
.orange .dndCover2{
	z-index: 10001;
}
.dj_ie6 .gridContainer *{
	zoom:1;
}
.gridContainer{
	display:block;	
	position:relative;
	background:#FFF;	
	margin:0;	
	width:100%;
	 
	height:auto;
	overflow-y:auto;
	overflow-x:hidden !important;
}
	
.gridContainerTable{
	width:100%;
	border:1px solid #BFBFBF;
}
.gridContainerTable tbody, .gridContainerTable tr{
	height:100%;
}
.gridContainerZone{
	vertical-align:top;	
	background-color:#FDFDFD;	
	height:100%;
}
.gridContainerZone .serviceWidgetTitleText h2{
	position:relative;
}
.gridContainerGrip{
	cursor:default;
	position:absolute;
	top:0;	
	width:10px;	
	padding:0;	
	margin:0;
	background-image:url(icons/pixel.gif);
	height:100%;
}
	
.gridContainerGripShow{
	cursor:e-resize;	
	position:absolute;	
	top:0;
	width:10px;	
	padding:0;	
	margin:0;	
	background-image:url(icons/gridcontainer_grip.gif);
	height:100%;
}
.dropIndicator{
	border:2px dashed #BFBFBF;
}
.dropIndicator > div{
	background-color:#FFF;
}
.dj_ie6 .dropIndicator,
.dj_ie6 .dojoxPortlet .dijitContentPane,
.dj_ie6 .dojoxPortlet, .dj_ie6 .dojoxPortlet.dijitTitlePane{
	margin: 10px;
}
.gridContainerZone > *{
	margin: 10px !important;
}
