html.mobile,
.mobile body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  background-color: #000000;
  font-family: "Segoe WP", "Segoe UI", "HelveticaNeue", "Helvetica-Neue", "Helvetica", "BBAlpha Sans", "sans-serif";
  font-size: 9pt;
  color: #ffffff;
  padding: 8px 0 8px 0;
}
.mblBackground {
  background-color: #000000;
}
.mblColorBlue {
  color: #ffffff;
  background-color: #2362dd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd));
  background-image: linear-gradient(to bottom, #7a9de9 0%, #2362dd 100%);
}
.mblColorBlue45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7a9de9), to(#2362dd));
  background-image: linear-gradient(to right bottom, #7a9de9 0%, #2362dd 100%);
}
.mblColorDefault {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
}
.mblColorDefault45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e2e2e2), to(#a4a4a4));
  background-image: linear-gradient(to right bottom, #e2e2e2 0%, #a4a4a4 100%);
}
.mblColorDefaultSel {
  color: #ffffff;
  background-color: Highlight;
}
.mblColorDefaultSel45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbbbbb), to(#666666));
  background-image: linear-gradient(to right bottom, #bbbbbb 0%, #666666 100%);
}
.mblSpriteIcon {
  position: absolute;
}
.mblSpriteIconParent {
  position: relative;
  font-size: 1px;
}
.mblImageIcon {
  vertical-align: top;
}
.unselectable {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
body {
  -ms-touch-action: pan-y;
}
label {
  margin-right: 5px;
}
@-ms-viewport {
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
  zoom: 1;
}
@media screen and (orientation: portrait) and (min-device-width: 768px) {
  @-ms-viewport {
    width: device-width;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 1366px) {
  @-ms-viewport {
    width: device-width;
  }
}
.mblHeading {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  padding: 0;
  height: 42px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 44px;
  border: none;
  color: #ffffff;
  font-family: "Segoe WP", "Segoe UI", "HelveticaNeue", "Helvetica-Neue", "Helvetica", "BBAlpha Sans", "sans-serif";
  font-weight: 400;
  text-align: left;
  font-size: 17pt;
  overflow: visible;
}
.mblHeading * {
  z-index: 2;
}
.mblHeadingDivTitle {
  position: absolute;
  width: 100%;
  display: none;
  left: 0;
  z-index: 1;
}
.mblHeadingCenterTitle .mblHeadingDivTitle {
  display: block;
}
.mblHeadingCenterTitle .mblHeadingSpanTitle {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: 400;
  margin: 0;
}
h1.mblHeading {
  font-size: 19pt;
}
h2.mblHeading {
  font-size: 17pt;
}
h3.mblHeading {
  font-size: 15pt;
}
h4.mblHeading {
  font-size: 11pt;
}
h5.mblHeading {
  font-size: 10pt;
}
h6.mblHeading {
  font-size: 9pt;
}
.mblHeading .mblToolBarButton ~ .mblHeadingDivTitle {
  text-align: center;
}
.mblHeading .mblToolBarButton.mblToolBarButtonHasRightArrow {
  float: right;
}
.mblSlide {
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.mblSlide.mblTransition {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.mblSlide.mblOut.mblReverse.mblTransition,
.mblSlide.mblIn {
  -webkit-transform: translate3d(100%, 0px, 0px) !important;
  transform: translate3d(100%, 0px, 0px) !important;
}
.mblSlide.mblOut.mblTransition,
.mblSlide.mblIn.mblReverse {
  -webkit-transform: translate3d(-100%, 0px, 0px) !important;
  transform: translate3d(-100%, 0px, 0px) !important;
}
.mblSlide.mblOut,
.mblSlide.mblIn.mblTransition {
  -webkit-transform: translate3d(0%, 0px, 0px) !important;
  transform: translate3d(0%, 0px, 0px) !important;
}
.dj_android.dj_tablet .mblSlide.mblTransition {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.mblFlip {
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.mblFlip.mblTransition {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.mblFlip.mblOut {
  opacity: 1;
  -webkit-transform: scale(1, 1) skew(0, 0) !important;
  transform: scale(1, 1) skew(0, 0) !important;
}
.mblFlip.mblOut.mblTransition {
  opacity: 0;
  -webkit-transform: scale(0, 0.8) skew(0, 30deg) !important;
  transform: scale(0, 0.8) skew(0, 30deg) !important;
}
.mblFlip.mblIn {
  opacity: 0;
  -webkit-transform: scale(0, 0.8) skew(0, -30deg) !important;
  transform: scale(0, 0.8) skew(0, -30deg) !important;
}
.mblFlip.mblIn.mblTransition {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
  -webkit-transform: scale(1, 1) skew(0, 0) !important;
  transform: scale(1, 1) skew(0, 0) !important;
}
.dj_android.dj_tablet .mblFlip.mblTransition {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.dj_android.dj_tablet .mblFlip.mblIn.mblTransition {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.mblFade {
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.mblFade.mblTransition {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.mblFade.mblOut {
  opacity: 1;
}
.mblFade.mblOut.mblTransition {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  opacity: 0;
}
.mblFade.mblIn {
  opacity: 0;
}
.mblFade.mblIn.mblTransition {
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 1;
}
.mblView {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  padding: 0 10px 0 15px;
  width: auto;
}
.mblView.mblIn {
  position: absolute;
}
.mblFixedHeaderBar {
  z-index: 1;
}
.mblFixedBottomBar {
  position: absolute !important;
  width: 100%;
  z-index: 1;
}
.mblToolBarButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 6px;
  padding: 0 10px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  font-family: "Segoe WP", "Segoe UI", "HelveticaNeue", "Helvetica-Neue", "Helvetica", "BBAlpha Sans", "sans-serif";
}
.mblToolBarButtonHasIcon,
.mblToolBarButtonLightIcon {
  padding: 0;
}
.mblHeading .mblToolBarButton {
  float: left;
}
.mblHeading span.mblToolBarButtonLightIcon {
  padding: 0;
}
.mblToolBarButtonHasLeftArrow {
  padding-right: 0;
  padding-left: 10px;
}
.mblToolBarButtonHasRightArrow {
  padding-left: 0;
  padding-right: 10px;
}
.mblToolBarButtonArrow {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 19px;
  border-radius: 1px;
  -webkit-transform: scale(0.7, 1.05) rotate(45deg);
  transform: scale(0.7, 1.05) rotate(45deg);
  border: 1px solid #9b9b9b;
  border-right-color: #767676;
  border-bottom-color: #767676;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonArrow {
  left: -1px;
}
.mblToolBarButtonHasRightArrow .mblToolBarButtonArrow {
  right: -1px;
}
.mblToolBarButtonBody {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  border: none;
}
.mblToolBarButton .mblToolBarButtonBody {
  width: 100%;
}
.mblToolBarButtonBody table {
  margin: 0 auto;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonBody {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mblToolBarButtonHasRightArrow .mblToolBarButtonBody {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mblToolBarButtonText .mblToolBarButtonIcon {
  padding-left: 10px;
}
.mblToolBarButtonText .mblToolBarButtonLabel {
  padding-right: 10px;
  height: 29px;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonIcon {
  padding-left: 4px;
}
.mblToolBarButtonHasRightArrow .mblToolBarButtonLabel {
  padding-right: 4px;
}
.mblToolBarButtonIcon > div {
  height: 29px;
}
.mblToolBarButton {
  border: 2px solid #ffffff;
}
.mblToolBarButtonHasLeftArrow,
.mblToolBarButtonHasRightArrow {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
.mblToolBarButtonHasLeftArrow *,
.mblToolBarButtonHasRightArrow * {
  display: none;
}
.mblToolBarButtonHasLeftArrow:active,
.mblToolBarButtonHasRightArrow:active {
  background-color: Highlight;
}
.mblToolBarButtonHasRightArrow {
  transform: rotate(180deg);
}
.mblRoundRect {
  margin: 7px 9px 16px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}
.mblRoundRect.mblShadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mblEdgeToEdgeCategory {
  position: relative;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0 0 5px;
  font-size: 15pt;
  font-family: "Segoe WP", "Segoe UI", "HelveticaNeue", "Helvetica-Neue", "Helvetica", "BBAlpha Sans", "sans-serif";
  font-weight: 200;
  line-height: 2;
  height: 43px;
  width: 38px;
  background-color: Highlight;
  border: none;
  color: #ffffff;
  text-transform: lowercase;
  overflow: visible;
}
.mblEdgeToEdgeCategoryLong {
  width: 100%;
}
.mblEdgeToEdgeCategory:first-of-type {
  margin-top: 8px;
}
.mblRoundRectCategory {
  margin: 18px 0 0 20px;
  padding: 0;
  font-family: Helvetica;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
  margin: 0px;
}
.mblRoundRectList {
  margin: 7px 9px 16px;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #ffffff;
}
.mblRoundRectList .mblListItem:first-child,
.mblRoundRectList .mblEdgeToEdgeCategory:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.mblRoundRectList .mblListItem:last-child,
.mblRoundRectList .mblEdgeToEdgeCategory:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mblRoundRectList {
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 0px;
}
.mblRoundRectList .mblListItem {
  border-radius: 0px !important;
}
.mblEdgeToEdgeList {
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding: 0px;
}
.mblEdgeToEdgeList .mblListItem:last-child {
  border-bottom-color: #bfbfbf;
}
.mblDomButtonGrayArrow,
.mblDomButtonArrow {
  position: relative;
  width: 20px;
  height: 29px;
}
.mblDomButtonGrayArrow > div,
.mblDomButtonArrow > div {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 6px;
  height: 6px;
  font-size: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 3px 3px 0px 0px;
  border-style: solid;
  border-color: #808080;
}
.mblDomButtonDarkBlueCheck,
.mblDomButtonCheck {
  position: relative;
  width: 20px;
  height: 29px;
}
.mblDomButtonDarkBlueCheck > div,
.mblDomButtonCheck > div {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 16px;
  height: 6px;
  font-size: 1px;
  -webkit-transform: scaleX(0.7) rotate(135deg);
  transform: scaleX(0.7) rotate(135deg);
  border-width: 3px 4px 0px 0px;
  border-style: solid;
  border-color: #314e84;
}
.mblListItem {
  position: relative;
  overflow: hidden;
  
  padding: 0 8px;
  height: 43px;
  list-style-type: none;
  line-height: 43px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 15pt;
  padding: 0;
}
.mblListItem.mblVariableHeight {
  padding: 11px 8px;
  height: auto;
  line-height: normal;
}
.mblListItemSelected {
  color: Highlight;
}
.mblListItemSelected .mblDomButton div {
  border-color: white;
}
.mblListItemLabelSelected {
  background-color: #048bf4;
}
.mblListItemChecked {
  color: #314e84;
}
.mblListItemChecked .mblListItemRightIcon {
  visibility: visible;
}
.mblListItemChecked .mblListItemUncheckIcon {
  position: absolute;
  visibility: hidden;
}
.mblListItemUnchecked .mblListItemRightIcon {
  visibility: hidden;
}
.mblListItemUnchecked .mblListItemUncheckIcon {
  visibility: visible;
}
.mblListItemDeleteIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.mblListItemIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.mblListItemRightIcon,
.mblListItemRightIcon2,
.mblListItemUncheckIcon {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
}
.mblListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  margin-right: 4px;
  color: black;
  margin-top: 12px;
}
.mblListItemLabel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.mblVariableHeight .mblListItemLabel {
  white-space: normal;
}
.mblListItemSubText {
  font-size: 14px;
  color: gray;
}
.mblListItemLayoutLeft {
  position: relative;
  float: left;
  margin-right: 11px;
}
.mblListItemLayoutCenter {
  position: absolute;
  width: 100%;
  text-align: center;
}
.mblListItemLayoutRight {
  position: relative;
  float: right;
}
.mblListItemFloat {
  position: absolute;
  border: 1px solid gray;
  opacity: 0.5;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.mblListItem {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mblListItem .mblListItemLabel:active {
  color: Highlight;
}
.mblListItem .mblListItemLabel:first-child {
  margin-left: 53px;
  overflow: visible;
}
.mblListItem .mblListItemLabel:first-child:before {
  content: '';
  width: 43px;
  height: 43px;
  background-color: #1f1f1f;
  position: absolute;
  margin-left: -53px;
}
.mblListItem .mblListItemIcon {
  height: 43px;
  width: 43px;
  margin: 0 10px 0 0;
}
.mblListItem .mblListItemEmptyIcon {
  padding-top: 43px;
  background-color: #1f1f1f;
}
.mblScrollablePane {
  position: relative;
  overflow: hidden;
}
.mblScrollableViewContainer {
  position: absolute;
  top: 0px;
}
.mblScrollablePaneMask {
  position: relative;
}
.mblScrollableView:not(.mblView) {
  padding: 0px;
}
.mblView.mblScrollableView .mblScrollableViewContainer {
  min-width: calc(100% - 15px - 10px) !important;
  width: auto !important;
}
.mblSwitch {
  margin: 0;
  position: relative;
  display: inline-block;
  height: 27px;
  line-height: 29px;
  overflow: hidden;
  text-align: left;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mblListItem .mblSwitch {
  position: absolute;
  right: 12px;
  top: 8px;
}
.mblSwitchInner {
  position: absolute;
  top: 0;
  height: 27px;
}
.mblSwitchAnimation .mblSwitchInner {
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.mblSwitchOn .mblSwitchInner {
  left: 0;
}
.mblSwitchBg {
  position: absolute;
  top: 0;
  width: 94px;
  height: 27px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
.mblSwitchBgLeft {
  left: 0;
  color: white;
  background-color: #3f84eb;
}
.mblSwitchBgRight {
  color: #7f7f7f;
}
.mblSwitchKnob {
  position: absolute;
  top: 0;
  height: 27px;
  font-size: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: #ffffff;
  width: 18px !important;
  z-index: 3;
  border-radius: 0 !important;
}
.mblSwitchText {
  position: relative;
  top: 0;
  width: 53px;
  height: 27px;
  padding: 0;
  line-height: 28px;
  text-align: center;
}
.mblSwitchTextLeft {
  left: 0;
}
.mblSwitchTextRight {
  left: 40px;
}
.mblSwSquareShape {
  width: 94px;
}
.mblSwSquareShape.mblSwitchOff .mblSwitchInner {
  left: -53px;
}
.mblSwSquareShape .mblSwitchBg {
  border-radius: 2px;
}
.mblSwSquareShape .mblSwitchBgRight {
  left: 53px;
}
.mblSwSquareShape .mblSwitchKnob {
  left: 53px;
  width: 41px;
  border-radius: 2px;
}
.mblSwSquareShape .mblSwitchText {
  width: 53px;
}
.mblSwSquareShape .mblSwitchTextRight {
  left: 40px;
}
.mblSwRoundShape1 {
  width: 77px;
}
.mblSwRoundShape1.mblSwitchOff .mblSwitchInner {
  left: -50px;
}
.mblSwRoundShape1 .mblSwitchBg {
  width: 77px;
  border-radius: 14px;
}
.mblSwRoundShape1 .mblSwitchBgRight {
  left: 50px;
}
.mblSwRoundShape1 .mblSwitchKnob {
  left: 50px;
  width: 27px;
  border-radius: 13px;
}
.mblSwRoundShape1 .mblSwitchText {
  width: 50px;
}
.mblSwRoundShape1 .mblSwitchTextRight {
  left: 26px;
}
.mblSwRoundShape2 {
  width: 94px;
}
.mblSwRoundShape2.mblSwitchOff .mblSwitchInner {
  left: -51px;
}
.mblSwRoundShape2 .mblSwitchBg {
  border-radius: 14px;
}
.mblSwRoundShape2 .mblSwitchBgRight {
  left: 51px;
}
.mblSwRoundShape2 .mblSwitchKnob {
  left: 51px;
  width: 43px;
  border-radius: 13px;
}
.mblSwRoundShape2 .mblSwitchText {
  width: 51px;
}
.mblSwRoundShape2 .mblSwitchTextRight {
  left: 42px;
}
.mblSwArcShape1 {
  width: 77px;
}
.mblSwArcShape1.mblSwitchOff .mblSwitchInner {
  left: -50px;
}
.mblSwArcShape1 .mblSwitchBg {
  width: 77px;
  border-radius: 5px/14px;
}
.mblSwArcShape1 .mblSwitchBgRight {
  left: 50px;
}
.mblSwArcShape1 .mblSwitchKnob {
  left: 50px;
  width: 27px;
  border-radius: 5px/13px;
}
.mblSwArcShape1 .mblSwitchText {
  width: 50px;
}
.mblSwArcShape1 .mblSwitchTextRight {
  left: 26px;
}
.mblSwArcShape2 {
  width: 94px;
}
.mblSwArcShape2.mblSwitchOff .mblSwitchInner {
  left: -51px;
}
.mblSwArcShape2 .mblSwitchBg {
  border-radius: 5px/14px;
}
.mblSwArcShape2 .mblSwitchBgRight {
  left: 51px;
}
.mblSwArcShape2 .mblSwitchKnob {
  left: 51px;
  width: 43px;
  border-radius: 5px/13px;
}
.mblSwArcShape2 .mblSwitchText {
  width: 51px;
}
.mblSwArcShape2 .mblSwitchTextRight {
  left: 42px;
}
.mblSwDefaultShape {
  width: 94px;
}
.mblSwDefaultShape.mblSwitchOff .mblSwitchInner {
  left: -53px;
}
.mblSwDefaultShape .mblSwitchBg {
  border-radius: 2px;
}
.mblSwDefaultShape .mblSwitchBgRight {
  left: 53px;
}
.mblSwDefaultShape .mblSwitchKnob {
  left: 53px;
  width: 41px;
  border-radius: 2px;
}
.mblSwDefaultShape .mblSwitchText {
  width: 53px;
}
.mblSwDefaultShape .mblSwitchTextRight {
  left: 40px;
}
.mblSwitchBgLeft {
  background-color: Highlight;
  height: 14px;
  margin: auto 4px;
  top: 50%;
  bottom: 50%;
  border-radius: 0 !important;
  width: 45px !important;
  z-index: 1;
}
.mblSwitch {
  width: 65px;
  float: right;
  display: block;
  clear: right;
}
.mblSwitch:before {
  content: '';
  width: 85%;
  height: 65%;
  position: absolute;
  border: 2px solid #ffffff;
  margin: auto 0;
  top: 50%;
  bottom: 50%;
  z-index: 2;
}
.mblSwitch.mblSwitchOn .mblSwitchKnob {
  left: 45px !important;
}
.mblSwitch .mblSwitchInner {
  width: 100%;
}
.mblSwitch[disabled] .mblSwitchKnob,
.mblSwitch[disabled] .mblSwitchBgLeft {
  background-color: #808080;
}
.mblSwitch[disabled]:before {
  border-color: #808080;
}
.mblSwitchText {
  display: none !important;
}
.mblSwitchLabel {
  color: #ffffff;
  position: relative;
  float: left;
  clear: both;
  margin: 3px 0;
}
.mblSwitchContainer {
  width: 100%;
  min-height: 27px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.mblProgressIndicator {
  position: relative;
  top: 0px;
}
.mblHeading .mblProgressIndicator {
  margin: 5px;
  float: left;
}
.mblProgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mblProgressIndicatorCenter {
  position: absolute;
  top: 180px;
  left: 50%;
}
.mblProgressIndicatorCenter .mblProgContainer {
  left: -50%;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.mblProg {
  position: absolute;
  left: 2px;
  top: 0px;
  width: 11px;
  font-size: 1px;
  height: 4px;
  overflow: hidden;
  -webkit-transform-origin: 0 2px;
  transform-origin: 0 2px;
  background-color: #c0c0c0;
  border-radius: 2px;
}
.mblProg0 {
  -webkit-transform: translate(18px, 10px) rotate(-90.1deg);
  transform: translate(18px, 10px) rotate(-90.1deg);
}
.mblProg1 {
  -webkit-transform: translate(22px, 11px) rotate(-60deg);
  transform: translate(22px, 11px) rotate(-60deg);
}
.mblProg2 {
  -webkit-transform: translate(25px, 14px) rotate(-30deg);
  transform: translate(25px, 14px) rotate(-30deg);
}
.mblProg3 {
  -webkit-transform: translate(26px, 18px) rotate(0deg);
  transform: translate(26px, 18px) rotate(0deg);
}
.mblProg4 {
  -webkit-transform: translate(25px, 22px) rotate(30deg);
  transform: translate(25px, 22px) rotate(30deg);
}
.mblProg5 {
  -webkit-transform: translate(22px, 25px) rotate(60deg);
  transform: translate(22px, 25px) rotate(60deg);
}
.mblProg6 {
  -webkit-transform: translate(18px, 26px) rotate(90.1deg);
  transform: translate(18px, 26px) rotate(90.1deg);
}
.mblProg7 {
  -webkit-transform: translate(14px, 25px) rotate(120deg);
  transform: translate(14px, 25px) rotate(120deg);
}
.mblProg8 {
  -webkit-transform: translate(11px, 22px) rotate(150deg);
  transform: translate(11px, 22px) rotate(150deg);
}
.mblProg9 {
  -webkit-transform: translate(10px, 18px) rotate(180deg);
  transform: translate(10px, 18px) rotate(180deg);
}
.mblProg10 {
  -webkit-transform: translate(11px, 14px) rotate(210deg);
  transform: translate(11px, 14px) rotate(210deg);
}
.mblProg11 {
  -webkit-transform: translate(14px, 11px) rotate(240deg);
  transform: translate(14px, 11px) rotate(240deg);
}
.mblProg0Color {
  background-color: #c0c0c0;
}
.mblProg1Color {
  background-color: #c0c0c0;
}
.mblProg2Color {
  background-color: #c0c0c0;
}
.mblProg3Color {
  background-color: #c0c0c0;
}
.mblProg4Color {
  background-color: #c0c0c0;
}
.mblProg5Color {
  background-color: #c0c0c0;
}
.mblProg6Color {
  background-color: #b8b9b8;
}
.mblProg7Color {
  background-color: #aeafae;
}
.mblProg8Color {
  background-color: #a4a5a4;
}
.mblProg9Color {
  background-color: #9a9a9a;
}
.mblProg10Color {
  background-color: #8e8e8e;
}
.mblProg11Color {
  background-color: #838383;
}
.mblProgWhite .mblProg0Color {
  background-color: #adb9c9;
}
.mblProgWhite .mblProg1Color {
  background-color: #adb9c9;
}
.mblProgWhite .mblProg2Color {
  background-color: #adb9c9;
}
.mblProgWhite .mblProg3Color {
  background-color: #adb9c9;
}
.mblProgWhite .mblProg4Color {
  background-color: #adb9c9;
}
.mblProgWhite .mblProg5Color {
  background-color: #adb9c9;
}
.mblProgWhite .mblProg6Color {
  background-color: #acb9cb;
}
.mblProgWhite .mblProg7Color {
  background-color: #b7c2d2;
}
.mblProgWhite .mblProg8Color {
  background-color: #c4cdda;
}
.mblProgWhite .mblProg9Color {
  background-color: #d1d8e2;
}
.mblProgWhite .mblProg10Color {
  background-color: #dee3ea;
}
.mblProgWhite .mblProg11Color {
  background-color: #eceff3;
}
.mblHeading .mblProgressIndicator {
  right: 0px;
}
