
.mblDomButtonGrayArrow,
.mblDomButtonArrow {
  position: relative;
  width: 20px;
  height: 29px;
}
.mblDomButtonGrayArrow > div,
.mblDomButtonArrow > div {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 6px;
  height: 6px;
  font-size: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 3px 3px 0px 0px;
  border-style: solid;
  border-color: #808080;
}
.mblDomButtonDarkBlueCheck,
.mblDomButtonCheck {
  position: relative;
  width: 20px;
  height: 29px;
}
.mblDomButtonDarkBlueCheck > div,
.mblDomButtonCheck > div {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 16px;
  height: 6px;
  font-size: 1px;
  -webkit-transform: scaleX(0.7) rotate(135deg);
  transform: scaleX(0.7) rotate(135deg);
  border-width: 3px 4px 0px 0px;
  border-style: solid;
  border-color: #314e84;
}
.mblListItem {
  position: relative;
  overflow: hidden;
  
  padding: 0 8px;
  height: 43px;
  list-style-type: none;
  line-height: 43px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 15pt;
  padding: 0;
}
.mblListItem.mblVariableHeight {
  padding: 11px 8px;
  height: auto;
  line-height: normal;
}
.mblListItemSelected {
  color: Highlight;
}
.mblListItemSelected .mblDomButton div {
  border-color: white;
}
.mblListItemLabelSelected {
  background-color: #048bf4;
}
.mblListItemChecked {
  color: #314e84;
}
.mblListItemChecked .mblListItemRightIcon {
  visibility: visible;
}
.mblListItemChecked .mblListItemUncheckIcon {
  position: absolute;
  visibility: hidden;
}
.mblListItemUnchecked .mblListItemRightIcon {
  visibility: hidden;
}
.mblListItemUnchecked .mblListItemUncheckIcon {
  visibility: visible;
}
.mblListItemDeleteIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.mblListItemIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.mblListItemRightIcon,
.mblListItemRightIcon2,
.mblListItemUncheckIcon {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
}
.mblListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  margin-right: 4px;
  color: black;
  margin-top: 12px;
}
.mblListItemLabel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.mblVariableHeight .mblListItemLabel {
  white-space: normal;
}
.mblListItemSubText {
  font-size: 14px;
  color: gray;
}
.mblListItemLayoutLeft {
  position: relative;
  float: left;
  margin-right: 11px;
}
.mblListItemLayoutCenter {
  position: absolute;
  width: 100%;
  text-align: center;
}
.mblListItemLayoutRight {
  position: relative;
  float: right;
}
.mblListItemFloat {
  position: absolute;
  border: 1px solid gray;
  opacity: 0.5;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.mblListItem {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mblListItem .mblListItemLabel:active {
  color: Highlight;
}
.mblListItem .mblListItemLabel:first-child {
  margin-left: 53px;
  overflow: visible;
}
.mblListItem .mblListItemLabel:first-child:before {
  content: '';
  width: 43px;
  height: 43px;
  background-color: #1f1f1f;
  position: absolute;
  margin-left: -53px;
}
.mblListItem .mblListItemIcon {
  height: 43px;
  width: 43px;
  margin: 0 10px 0 0;
}
.mblListItem .mblListItemEmptyIcon {
  padding-top: 43px;
  background-color: #1f1f1f;
}
