
.nihilo .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url("images/titleBar.png") repeat-x top left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}
.nihilo .dijitTitlePaneTitleHover  {
	background: #f9f9f9 url("images/accordionItemActive.png") top repeat-x;
}
.nihilo .dijitTitlePane .dijitOpen .dijitArrowNode,
.nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	width:15px;
	height:15px;
}
.nihilo .dijitTitlePaneTextNode {
	color: #243C5F;
}
.nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url('images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}
.dj_ie6 .nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
.nihilo .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.png') no-repeat -15px top;
}
.dj_ie6 .nihilo .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.nihilo .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0;
}
.nihilo .dijitTitlePaneContentInner {
	padding:10px;
}
.nihilo .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}
