
.tundra .dijitInputContainer INPUT,
.tundra .dijitTextBox {
	margin: 0 0.1em;
}
.tundra .dijitTextArea {
	padding: 3px;
}
.tundra .dijitTextBox {
	
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #b3b3b3;
}
.tundra .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.tundra .dijitTextBox .dijitButtonNode {
	
	border-color: #9b9b9b;
}
.tundra .dijitTextBoxFocused {
	
	border-color:#406b9b;
}
.tundra .dijitTextBoxFocused .dijitButtonNode {
	border-color:#366dba;
}
.tundra .dijitError {
	background-color:#f9f7ba;
	background-image:none;
}
.tundra .dijitErrorFocused {
	background-color:#f9f999;
	background-image:none;
}
.tundra .dijitValidationIcon {
	
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}
.tundra .dijitComboBoxHighlightMatch {
	background-color:#a5beda;
}
.tundra .dijitFocusedLabel {
	
	outline: 1px dotted #666666;
}
