.tundra .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.tundra .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.tundra .dijitSliderFocused .dijitSliderProgressBarH,
.tundra .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.tundra .dijitSliderFocused .dijitSliderProgressBarV,
.tundra .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.tundra .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.tundra .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.tundra .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.tundra .dijitSliderFocused .dijitSliderBar {
	border-color:#888;
}
.tundra .dijitSliderImageHandleH {
	border:0;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.tundra .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.dj_ie6 .tundra .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}
.tundra .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.tundra .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.tundra .dijitSliderImageHandleV {
	border:0;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
}
.tundra .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6 .tundra .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}
.tundra .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.tundra .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.tundra .dijitSliderDecrementIconH,
.tundra .dijitSliderDecrementIconV,
.tundra .dijitSliderIncrementIconH,
.tundra .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.png');
	background-repeat: no-repeat;
	margin: 5px;
	height: 7px;
	width: 7px;
	font-size: 1px;
}
.dj_ie6 .tundra .dijitSliderDecrementIconH,
.dj_ie6 .tundra .dijitSliderDecrementIconV,
.dj_ie6 .tundra .dijitSliderIncrementIconH,
.dj_ie6 .tundra .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.gif');
}
.tundra .dijitSliderDecrementIconH {
	background-position: -7px 0;
}
.tundra .dijitSliderIncrementIconH {
	background-position: -14px 0;
}
.tundra .dijitSliderDecrementIconV {
	background-position: 0 0;
}
.tundra .dijitSliderIncrementIconV {
	background-position: -21px 0;
}
.tundra .dijitSliderButtonInner {
	visibility:hidden;
}
.tundra .dijitSliderReadOnly *,
.tundra .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.tundra .dijitSliderReadOnly .dijitSliderDecrementIconH,
.tundra .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: -35px 0;
}
.tundra .dijitSliderReadOnly .dijitSliderIncrementIconH,
.tundra .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -42px 0;
}
.tundra .dijitSliderReadOnly .dijitSliderDecrementIconV,
.tundra .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -28px 0;
}
.tundra .dijitSliderReadOnly .dijitSliderIncrementIconV,
.tundra .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -49px 0;
}
