
.nihilo .dijitButtonNode {
	
	
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #fff url("../images/buttonEnabled.png") repeat-x top left;
}
.nihilo .dijitSelect .dijitButtonContents {
	border-right: none;
}
.nihilo .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}
.nihilo .dijitComboBox .dijitButtonNode {
	border-width: 0 0 0 1px;
}
.nihilo .dijitArrowButton {
	color: #111;
}
.nihilo .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.nihilo .dijitComboBoxReadOnly,
.nihilo .dijitSpinnerReadOnly,
.nihilo .dijitSpinnerReadOnly .dijitButtonNode,
.nihilo .dijitButtonDisabled .dijitButtonNode,
.nihilo .dijitToggleButtonDisabled .dijitButtonNode,
.nihilo .dijitDropDownButtonDisabled .dijitButtonNode,
.nihilo .dijitComboButtonDisabled .dijitButtonNode,
.nihilo .dijitComboBoxDisabled,
.nihilo .dijitSpinnerDisabled,
.nihilo .dijitSpinnerDisabled .dijitButtonNode {
	
	border-color: #dedede;
	background:#fafafa url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60;
}
.dj_ie6 .nihilo .dijitReadOnly INPUT,
.dj_ie7 .nihilo .dijitReadOnly INPUT,
.dj_ie6 .nihilo .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .nihilo .dijitComboButtonDisabled .dijitButtonText {
	
	color: #aaa;
}
.nihilo .dijitButtonHover .dijitButtonNode,
.nihilo .dijitButtonNodeHover,
.nihilo .dijitToggleButtonHover .dijitButtonNode,
.nihilo .dijitDropDownButtonHover .dijitButtonNode,
.nihilo .dijitButtonContentsHover,
.nihilo .dijitDownArrowButtonHover,
.nihilo .dijitUpArrowButtonHover {
	
	
	color:#243C5F;
	background:#fcfcfc url("../images/buttonHover.png") repeat-x top left;
}
.nihilo .dijitUpArrowButtonActive,
.nihilo .dijitDownArrowButtonActive,
.nihilo .dijitButtonActive .dijitButtonNode,
.nihilo .dijitToggleButtonActive .dijitButtonNode,
.nihilo .dijitDropDownButtonActive .dijitButtonNode,
.nihilo .dijitComboButton .dijitButtonContentsActive,
.nihilo .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#dedede;
	background: #f5f5f5 url("../images/buttonActive.png") top left repeat-x;
}
.nihilo .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.png");
	background-repeat: no-repeat;
	background-position: 0 center;
	width: 11px;
	height: 11px;
}
.nihilo .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -11px center;
}
.nihilo .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -22px center;
}
.nihilo .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -33px center;
}
.dj_ie6 .nihilo .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.gif");
}
.dj_webkit .nihilo .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: -1px; 
}
.dj_ie .nihilo .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: 1px; 
}
.nihilo .dijitSpinnerButtonContainer {
	width: auto;
	padding: 0;
}
.nihilo .dijitSpinner .dijitArrowButton {
	width: 15px;
}
.nihilo .dijitSpinner .dijitSpinnerButtonInner {
	width: 15px;
}
.nihilo .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding: 0;
}
