
.claro .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.claro .dijitInlineEditBoxDisplayModeHover {
  background-color: #e9f4fe;
  border: solid 1px #769dc0;
}
.dj_ie6 .claro .dijitInlineEditBoxDisplayMode {
  border: none;
}
