
.claro .dijitTimePicker .dijitButtonNode {
  padding: 0 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.claro .dijitTimePicker {
  border: 1px #b5bcc7 solid;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  
}
.claro .dijitTimePickerItem {
  
  background-image: url("images/commonHighlight.png");
  background-position: 0 -1px;
  background-repeat: repeat-x;
  border-top: solid 1px #b5bcc7;
  border-bottom: solid 1px #b5bcc7;
  margin-right: -1px;
  margin-left: -1px;
  margin-top: -1px;
}
.dj_ie6 .claro .dijitTimePickerItem {
  background-image: none;
}
.claro .dijitTimePickerTick {
  
  color: #818181;
  background-color: #efefef;
  font-size: 0.818em;
}
.claro .dijitTimePickerMarker {
  
  background-color: #e9f4fe;
  font-size: 1em;
  white-space: nowrap;
}
.claro .dijitTimePickerTickHover,
.claro .dijitTimePickerMarkerHover,
.claro .dijitTimePickerMarkerSelected,
.claro .dijitTimePickerTickSelected {
  background-color: #7dbefa;
  border: solid 1px #b5bcc7;
  margin-left: -7px;
  margin-right: -7px;
  color: #000000;
}
.claro .dijitTimePickerMarkerSelected, .claro .dijitTimePickerTickSelected {
  font-size: 1em;
}
.dj_ie .claro .dijitTimePickerTickHover,
.dj_ie .claro .dijitTimePickerMarkerHover,
.dj_ie .claro .dijitTimePickerMarkerSelected,
.dj_ie .claro .dijitTimePickerTickSelected {
  width: 114%;
}
.dj_ie6 .claro .dijitTimePickerTickHover,
.dj_ie6 .claro .dijitTimePickerMarkerHover,
.dj_ie6 .claro .dijitTimePickerMarkerSelected,
.dj_ie6 .claro .dijitTimePickerTickSelected {
  position: relative;
  
  zoom: 1;
  
}
.claro .dijitTimePickerTick .dijitTimePickerItemInner {
  padding: 1px;
  margin: 0;
}
.claro .dijitTimePicker .dijitButtonNode {
  border-left: none;
  border-right: none;
  border-color: #b5bcc7;
  background-color: #efefef;
  background-image: url("images/commonHighlight.png");
  background-position: 0 -1px;
  background-repeat: repeat-x;
}
.dj_ie6 .claro .dijitTimePicker .dijitButtonNode {
  background-image: none;
}
.claro .dijitTimePicker .dijitArrowButtonInner {
  height: 100%;
  
  background-image: url("form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-position: -140px 45%;
}
.claro .dijitTimePicker .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -35px 45%;
}
.claro .dijitTimePicker .dijitUpArrowHover, .claro .dijitTimePicker .dijitDownArrowHover {
  background-color: #abd6ff;
}
.claro .dijitTimePicker .dijitUpArrowHover .dijitArrowButtonInner {
  background-position: -175px 45%;
}
.claro .dijitTimePicker .dijitDownArrowHover .dijitArrowButtonInner {
  background-position: -70px 45%;
}
