
.claro .dijitSpinnerButtonContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0 2px;
}
.claro .dijitSpinnerButtonContainer .dijitSpinnerButtonInner {
  border-width: 1px 0;
  
  border-style: solid none;
}
.claro .dijitSpinner .dijitArrowButton {
  width: auto;
  background-color: #efefef;
  background-image: url("images/formHighlight.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  overflow: hidden;
}
.dj_iequirks .claro .dijitSpinner .dijitArrowButton {
  overflow: visible;
  
}
.claro .dijitSpinner .dijitSpinnerButtonInner {
  width: 15px;
}
.claro .dijitSpinner .dijitArrowButtonInner {
  border: solid 1px #ffffff;
  border-bottom-width: 0;
  
  background-image: url("images/commonFormArrows.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 15px;
  padding-left: 1px;
  padding-right: 1px;
  
  background-position: -139px center;
  
  display: block;
  margin: -1px 0 -1px 0;
  
}
.dj_ie6 .claro .dijitSpinner .dijitArrowButtonInner, .dj_ie7 .claro .dijitSpinner .dijitArrowButtonInner {
  margin-top: 0;
  
}
.dj_iequirks .claro .dijitSpinner .dijitArrowButtonInner {
  width: 19px;
}
.claro .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -34px;
}
.claro .dijitSpinner .dijitArrowButtonInner .dijitInputField {
  padding: 0;
}
.claro .dijitUpArrowButtonActive, .claro .dijitDownArrowButtonActive {
  background-color: #abd6ff;
}
.claro .dijitSpinner .dijitUpArrowButtonHover, .claro .dijitSpinner .dijitDownArrowButtonHover, .claro .dijitSpinnerFocused .dijitArrowButton {
  background-color: #abd6ff;
}
.claro .dijitSpinner .dijitUpArrowButtonHover .dijitArrowButtonInner {
  background-position: -174px;
}
.claro .dijitSpinner .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -69px;
}
.claro .dijitSpinnerFocused {
  background-color: #ffffff;
  background-image: none;
}
.claro .dijitSpinner .dijitDownArrowButtonActive, .claro .dijitSpinner .dijitUpArrowButtonActive {
  background-color: #7dbefa;
  background-position: 0 -177px;
}
.claro .dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner, .claro .dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
  
  border: 0;
  padding: 1px;
  margin-right: 2px;
  margin-bottom: 1px;
}
.claro .dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner {
  background-position: -173px;
}
.claro .dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
  background-position: -68px;
}
.claro .dijitSpinnerDisabled .dijitArrowButtonInner {
  background-color: #efefef;
}
.claro .dijitSpinnerDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -104px;
}
.claro .dijitSpinnerDisabled .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: 1px;
}
.dj_ie7 .claro .dijitSpinner {
  overflow: visible;
}
