
.mblTabPanelHeader .mblDomButton {
	background-position: 8px;
}
.mblDomButtonPlus_2 {
	background-image: url(domButtons/compat/plus-button.png);
	background-repeat: no-repeat;
}
.mblDomButtonPlus_2 DIV {
	display: none;
}
.mblDomButtonUpArrow_2 {
	background-image: url(domButtons/compat/uparrow-button.png);
	background-repeat: no-repeat;
}
.mblDomButtonUpArrow_2 DIV {
	display: none;
}
.mblDomButtonDownArrow_2 {
	background-image: url(domButtons/compat/downarrow-button.png);
	background-repeat: no-repeat;
}
.mblDomButtonDownArrow_2 DIV {
	display: none;
}
.mblDomButtonSearch_2 {
	background-image: url(domButtons/compat/search-button.png);
	background-repeat: no-repeat;
}
.mblDomButtonSearch_2 DIV {
	display: none;
}
.dj_ie6 .mblDomButtonSearch_2 {
	background-image: url(domButtons/compat/search-button.gif);
}
