
.claro .dijitTabPaneWrapper {
  background: #ffffff;
}
.claro .dijitTabPaneWrapper,
.claro .dijitTabContainerTop-tabs,
.claro .dijitTabContainerBottom-tabs,
.claro .dijitTabContainerLeft-tabs,
.claro .dijitTabContainerRight-tabs {
  
  border-color: #b5bcc7;
}
.claro .dijitTabCloseButton {
  background: url("images/tabClose.png") no-repeat;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  margin-right: -5px;
}
.claro .dijitTabCloseButtonHover {
  background-position: -14px;
}
.claro .dijitTabCloseButtonActive {
  background-position: -28px;
}
.claro .dijitTabSpacer {
  
  display: none;
}
.claro .dijitTabInnerDiv {
  background-color: #efefef;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
  color: #4a4a4a;
}
.claro .dijitTabHover .dijitTabInnerDiv {
  background-color: #abd6ff;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  color: #000000;
}
.claro .dijitTabActive .dijitTabInnerDiv {
  background-color: #7dbefa;
  color: #000000;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.claro .dijitTabChecked .dijitTabInnerDiv {
  background-color: #cfe5fa;
  color: #000000;
}
.claro .dijitTabContent {
  border: 1px solid #b5bcc7;
}
.claro .dijitTabHover .dijitTabContent {
  border-color: #769dc0;
}
.claro .dijitTabActive .dijitTabContent {
  border-color: #769dc0;
}
.claro .dijitTabChecked .dijitTabContent {
  color: #000000;
  border-color: #b5bcc7;
}
.claro .tabStripButton .dijitTabInnerDiv {
  background-color: transparent;
}
.claro .tabStripButton .dijitTabContent {
  border: none;
}
.claro .dijitTabContainerTop-tabs .dijitTab {
  top: 1px;
  
  margin-right: 1px;
  padding-top: 3px;
}
.dj_ie7 .claro .dijitTabContainerTop-tabs .dijitTab {
  top: 3px;
}
.claro .dijitTabContainerTop-tabs .dijitTabContent {
  padding: 3px 6px;
  border-bottom-width: 0;
  background-image: url("images/tabTop.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  min-width: 60px;
  text-align: center;
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent {
  padding-bottom: 4px;
  padding-top: 6px;
}
.claro .dijitTabContainerTop-tabs .dijitTabInnerDiv {
  background-image: url("images/tabTop.png");
  background-position: 0 -248px;
  background-position: bottom;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-image: none;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent {
  background-position: 0 -102px;
  background-repeat: repeat-x;
}
.claro .dijitTabContainerBottom-tabs .dijitTab {
  top: -1px;
  
  margin-right: 1px;
}
.claro .dijitTabContainerBottom-tabs .dijitTabContent {
  padding: 3px 6px;
  border-top-width: 0;
  background-image: url("images/tabBottom.png");
  background-position: 0 -249px;
  background-repeat: repeat-x;
  background-position: bottom;
  min-width: 60px;
  text-align: center;
}
.claro .dijitTabContainerBottom-tabs .dijitTab {
  padding-bottom: 3px;
}
.claro .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
  background-image: url("images/tabBottom.png");
  background-position: top;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.claro .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabContent {
  padding-bottom: 7px;
  padding-top: 4px;
  background-position: 0 -119px;
}
.claro .dijitTabContainerBottom-tabs .dijitTabChecked {
  padding-bottom: 0;
}
.claro .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-image: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.claro .dijitTabContainerLeft-tabs .dijitTab {
  border-right-width: 0;
  left: 1px;
  
  margin-bottom: 1px;
}
.claro .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
  background-image: url("images/tabLeft.png");
  background-position: -347px -340px;
  background-repeat: repeat-y;
}
.claro .dijitTabContainerLeft-tabs .dijitTabContent {
  padding: 3px 8px 4px 4px;
  background-image: url("images/tabLeft.png");
  background-repeat: repeat-y;
  background-position: 0 0;
}
.claro .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabContent {
  padding-right: 9px;
  border-right: none;
  background-image: none;
}
.claro .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-position: 0 -179px;
  background-repeat: repeat-y;
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
}
.claro .dijitTabContainerRight-tabs .dijitTab {
  border-left-width: 0;
  left: -1px;
  
  margin-bottom: 1px;
}
.claro .dijitTabContainerRight-tabs .dijitTabInnerDiv {
  background-image: url("images/tabRight.png");
  background-repeat: repeat-y;
  background-position: -1px -347px;
}
.claro .dijitTabContainerRight-tabs .dijitTabContent {
  padding: 3px 8px 4px 4px;
  background-image: url("images/tabRight.png");
  background-position: right top;
  background-repeat: repeat-y;
}
.claro .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabContent {
  padding-left: 5px;
  border-left: none;
  background-image: none;
}
.claro .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-position: -348px -179px;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
}
.claro .dijitTabContainerTop-tabs .dijitTabInnerDiv, .claro .dijitTabContainerTop-tabs .dijitTabContent {
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.claro .dijitTabContainerBottom-tabs .dijitTabInnerDiv, .claro .dijitTabContainerBottom-tabs .dijitTabContent {
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.claro .dijitTabContainerLeft-tabs .dijitTabInnerDiv, .claro .dijitTabContainerLeft-tabs .dijitTabContent {
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.claro .dijitTabContainerRight-tabs .dijitTabInnerDiv, .claro .dijitTabContainerRight-tabs .dijitTabContent {
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.claro .tabStripButton {
  background-color: #e9f4fe;
  border: 1px solid #b5bcc7;
}
.claro .dijitTabListContainer-top .tabStripButton {
  padding: 4px 3px;
  margin-top: 7px;
  background-image: url("images/tabTop.png");
  background-position: 0 0;
}
.claro .dijitTabListContainer-bottom .tabStripButton {
  padding: 5px 3px;
  margin-bottom: 4px;
  background-image: url("images/tabTop.png");
  background-position: 0 -248px;
  background-position: bottom;
}
.claro .tabStripButtonHover {
  background-color: #abd6ff;
}
.claro .tabStripButtonActive {
  background-color: #7dbefa;
}
.claro .dijitTabStripIcon {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  background: url("../form/images/buttonArrows.png") no-repeat -75px 50%;
  background-color: transparent;
}
.claro .dijitTabStripSlideRightIcon {
  background-position: -24px 50%;
}
.claro .dijitTabStripMenuIcon {
  background-position: -51px 50%;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled {
  background-color: #d3d3d3;
  border: 1px solid #b5bcc7;
  
}
.claro .tabStripButtonDisabled .dijitTabStripSlideLeftIcon {
  background-position: -175px 50%;
}
.claro .tabStripButtonDisabled .dijitTabStripSlideRightIcon {
  background-position: -124px 50%;
}
.claro .tabStripButtonDisabled .dijitTabStripMenuIcon {
  background-position: -151px 50%;
}
.claro .dijitTabContainerNested .dijitTabListWrapper {
  height: auto;
}
.claro .dijitTabContainerNested .dijitTabContainerTop-tabs {
  border-bottom: solid 1px #b5bcc7;
  padding: 1px 2px 4px;
  margin-top: -2px;
}
.claro .dijitTabContainerTabListNested .dijitTabContent {
  background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
  border: none;
  padding: 4px;
  border-color: rgba(118, 157, 192, 0);
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.claro .dijitTabContainerTabListNested .dijitTab .dijitTabInnerDiv {
  
  background: none;
  border: none;
  top: 0;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.claro .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent {
  background-color: #e9f4fe;
  border: solid 1px #cfe5fa;
  padding: 3px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dijitTabContainerTabListNested .dijitTabHover .tabLabel {
  text-decoration: none;
}
.claro .dijitTabContainerTabListNested .dijitTabActive .dijitTabContent {
  border: solid 1px #769dc0;
  padding: 3px;
  background: #abd6ff url("images/tabNested.png") repeat-x;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.claro .dijitTabContainerTabListNested .dijitTabChecked .dijitTabContent {
  padding: 3px;
  border: solid 1px #769dc0;
  background-position: 0 105px;
  background-color: #cfe5fa;
}
.claro .dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
  text-decoration: none;
  background-image: none;
}
.claro .dijitTabPaneWrapperNested {
  border: none;
  
}
.dj_ie6 .claro .dijitTabContent,
.dj_ie6 .claro .dijitTabInnerDiv,
.dj_ie6 .dijitTabListContainer-top .tabStripButton,
.dj_ie6 .dijitTabListContainer-bottom .tabStripButton {
  background-image: none;
}
