
.dijitRtl .dijitPlaceHolder {
	left: auto;
	right: 0;
}
.dijitMenuItemRtl {
	text-align: right;
}
.dj_iequirks .dijitComboButtonRtl BUTTON {
	
	float:left;
}
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitComboBoxRtl .dijitArrowButtonContainer {
	
	border-right-width: 1px !important;
	border-left-width: 0 !important;
}
.dijitSpinnerRtl .dijitSpinnerButtonContainer .dijitArrowButton {
	right: 0;
	left: auto;
}
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitArrowButtonContainer {
	float: left;
}
.dijitCalendarRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}
.dijitCalendarRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}
.dijitSliderRtl .dijitSliderImageHandleV {
	left:auto;
}
.dijitSliderRtl .dijitSliderImageHandleH {
	left:-50%;
}
.dijitSliderRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}
.dijitSliderRtl .dijitRuleContainerV {
	float:right;
}
.dj_ie .dijitSliderRtl .dijitRuleContainerV {
	text-align:right;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelV {
	text-align:left;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelH {
	zoom:1;
}
.dijitSliderRtl .dijitSliderProgressBarH {
	
	float:right;
	right:0;
	left:auto;
}
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}
.dijitTabRtl .dijitTabCloseButton {
	margin-left: 0;
	margin-right: 1em;
}
.dj_ie .dijitTimePickerRtl .dijitTimePickerItem {
	width:100%;
}
.dijitColorPaletteRtl .dijitColorPaletteUnder {
	
	left: auto;
	right: 0;
}
.dijitSelectRtl .dijitButtonContents {
	text-align: right;
}
.dijitRtl .soria .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .soria .dijitTabContainer .tabStripButton {
	margin-left: 0;
}
.dijitRtl .soria .dijitTabContainerTopStrip,
.dijitRtl .soria .dijitTabContainerBottomStrip,
.dijitRtl .soria .dijitTabContainerTop-tabs,
.dijitRtl .soria .dijitTabContainerBottom-tabs {
	padding-left: 0;
	padding-right: 3px;
}
.dijitRtl .soria .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .soria .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .soria .dijitTabContainerLeft-tabs {
	margin-left: 0 !important;
}
.dj_ie-rtl .soria .dijitTabContainerRight-tabs {
	margin-right: 0 !important;
}
.dijitRtl .soria .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .soria .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0;
}
.dj_ie-rtl .soria .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
.dijitRtl .soria .dijitAccordionArrow {
	background-position: 0 top;
}
.dijitRtl .soria .dijitAccordionTitleSelected .dijitAccordionArrow {
	
	background-position: -15px top;
}
.dijitRtl .soria .dijitSliderProgressBarH,
.dijitRtl .soria .dijitSliderRemainingBarH,
.dijitRtl .soria .dijitSliderLeftBumper,
.dijitRtl .soria .dijitSliderRightBumper,
.dijitRtl .soria .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .soria .dijitSliderProgressBarV,
.dijitRtl .soria .dijitSliderRemainingBarV,
.dijitRtl .soria .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .soria .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}
.dijitRtl .soria .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}
.dijitRtl .soria .dijitSliderIncrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat left top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat left top;
}
.dijitRtl .soria .dijitSliderDecrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.dijitRtl .soria .dijitComboBox .dijitButtonNode {
	border-width: 0 0 0 1px;
}
.dijitRtl .soria .dijitSelect .dijitButtonContents {
	border-left: none;
	border-right-width: 1px;
}
.dijitRtl .soria .dijitTreeNode,
.dijitRtl .soria .dijitTreeExpandoLeaf {
	
    background-image: none;
}
.dijitRtl .soria .dijitTreeContent {
    padding-left: 0;
    padding-right: 1px;
}
.dijitRtl .soria .dijitTreeExpandoOpened {
	
	background: url(images/spriteTree_rtl.gif) no-repeat -18px top;
}
.dijitRtl .soria .dijitTreeExpandoClosed {
	
	background-image: url(images/spriteTree_rtl.gif);
}
.dijitRtl .soria .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0 top;
}
.dj_ie6-rtl .soria .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0 top;
}
.dijitRtl .soria .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .soria .dijitCalendarIncrease {
	background-position: 0 top;
}
.dj_ie6-rtl .soria .dijitTimePickerMarkerHover,
.dj_ie7-rtl .soria .dijitTimePickerMarkerHover {
        border-top: 0; 
}
.dijitRtl .soria .dijitDialogTitleBar .dijitDialogCloseIcon {
	right: auto;
	left: 5px;
}
.dijitRtl .soria .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0;
}
.dijitRtl .soria .dijitMenuItem .dijitMenuExpand {
	background-position: left top;
}
.dijitRtl .soria .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png); 
}
.dijitRtl .soria .dijitDisabled .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsDisabled_rtl.png); 
}
.dijitEditorRtl .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png); 
}
.dijitEditorRtlDisabled .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsDisabled_rtl.png); 
}
.dijitToolbarRtl .dijitToolbarSeparator {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png);
}
 
