
.nihilo .dijitTreeNode {
    background : url('images/treeI.gif') no-repeat;
    background-position : top left;
    background-repeat : repeat-y;
    zoom: 1;
}
.nihilo .dijitTreeIsLast {
    background: url('images/treeI_half.gif') no-repeat;
}
.nihilo .dijitTreeRowHover {
	
	background-image: url(images/treeHover.png);
	background-repeat: repeat;
	background-color: transparent !important;
}
.nihilo .dijitTreeLabel {
	font-weight: normal;
	margin-left: 3px;
}
.nihilo .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.nihilo .dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.nihilo .dijitTreeRow {
	
	padding-bottom: 2px;
}
.nihilo .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}
.nihilo .dijitTreeExpandoOpened {
	background: url('images/spriteTree.gif') no-repeat -18px top;
}
.nihilo .dijitTreeExpandoClosed {
	background-image: url('images/spriteTree.gif');
}
.nihilo .dijitTreeExpandoLeaf {
	background: url('images/spriteTree.gif') no-repeat -36px top;
}
.nihilo .dijitTreeExpandoLoading {
	background-image: url('images/treeExpand_loading.gif');
}
.nihilo .dijitTreeIcon {
	width: 16px;
	height: 16px;
}
.nihilo .dijitFolderOpened {
	background: url('images/spriteDivIcons.gif') no-repeat -16px top;
}
.nihilo .dijitFolderClosed {
	background: url('images/spriteDivIcons.gif') no-repeat top left;
}
.nihilo .dijitLeaf {
	background: url('images/spriteDivIcons.gif') no-repeat -32px top;
}
.nihilo .dijitTreeNode .dojoDndItemBefore,
.nihilo .dijitTreeNode .dojoDndItemAfter {
	border-bottom: none;
	border-top: none;
}
.nihilo .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
	
	border-top: 2px solid #369;
}
.nihilo .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
	
	border-bottom: 2px solid #369;
}
