.dijitRtl .nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0 top;
}
.dj_ie6-rtl .nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0 top;
}
