.dijitRtl .nihilo .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .nihilo .dijitTabContainer .tabStripButton {
	margin-left: 0;
}
.dijitRtl .nihilo .dijitTabContainerTopStrip,
.dijitRtl .nihilo .dijitTabContainerBottomStrip,
.dijitRtl .nihilo .dijitTabContainerTop-tabs,
.dijitRtl .nihilo .dijitTabContainerBottom-tabs {
	padding-left: 0;
	padding-right: 3px;
}
.dijitRtl .nihilo .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .nihilo .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .nihilo .dijitTabContainerLeft-tabs {
	margin-left: 0 !important;
}
.dj_ie-rtl .nihilo .dijitTabContainerRight-tabs {
	margin-right: 0 !important;
}
.dijitRtl .nihilo .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .nihilo .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0;
}
.dj_ie-rtl .nihilo .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
