
.claro .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url('../images/checkmarkNoBorder.png');
}
.dj_ie6 .claro .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url('../images/checkmarkNoBorder.gif');
}
.claro .dijitCheckBox, .claro .dijitCheckBoxIcon {
  background-image: url('images/checkboxRadioButtonStates.png');
  
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  margin: 0 2px 0 0;
  padding: 0;
}
.dj_ie6 .claro .dijitCheckBox, .dj_ie6 .claro .dijitCheckBoxIcon {
  background-image: url('images/checkboxAndRadioButtons_IE6.png');
  
}
.claro .dijitCheckBox, .claro .dijitToggleButton .dijitCheckBoxIcon {
  
  background-position: -15px;
}
.claro .dijitCheckBoxChecked, .claro .dijitToggleButtonChecked .dijitCheckBoxIcon {
  
  background-position: 0;
}
.claro .dijitCheckBoxDisabled {
  
  background-position: -75px;
}
.claro .dijitCheckBoxCheckedDisabled {
  
  background-position: -60px;
}
.claro .dijitCheckBoxHover {
  
  background-position: -45px;
}
.claro .dijitCheckBoxCheckedHover {
  
  background-position: -30px;
}
