<tr class="dijitReset" data-dojo-attach-point="focusNode" role="${role}" tabIndex="-1" aria-checked="${checked}">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<span class="dijitInline dijitIcon dijitMenuItemIcon dijitCheckedMenuItemIcon" data-dojo-attach-point="iconNode"></span>
		<span class="dijitMenuItemIconChar dijitCheckedMenuItemIconChar">${checkedChar}</span>
	</td>
	<td class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode,labelNode,textDirNode"></td>
	<td class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">&#160;</td>
</tr>
