
.soria .dijitBorderContainer {
	background-color: #e1ebfb;
	padding: 5px;
}
.soria .dijitSplitContainer-child,
.soria .dijitBorderContainer-child {
	
	border: 1px #b1badf solid;
}
.soria .dijitBorderContainer-dijitTabContainerTop,
.soria .dijitBorderContainer-dijitTabContainerBottom,
.soria .dijitBorderContainer-dijitTabContainerLeft,
.soria .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.soria .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0;
}
.soria .dijitSplitterH,
.soria .dijitGutterH {
	background: #E1EBFB;
	border:0;
	border-left:0 solid #d3d3d3;
	border-right:0 solid #d3d3d3;
	height:5px;
}
.soria .dijitSplitterH .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:1px;
	top:2px;
	width:19px;
}
.soria .dijitSplitterV,
.soria .dijitGutterV {
	background: #E1EBFB;
	border:0;
	border-top:0 solid #d3d3d3;
	border-bottom:0 solid #d3d3d3;
	width:5px;
}
.soria .dijitSplitterV .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:19px;
	left:2px;
	width:1px;
}
.soria .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
