
.soria .dijitSliderProgressBarH {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.soria .dijitSliderProgressBarV {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.soria .dijitSliderFocused .dijitSliderProgressBarH,
.soria .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.soria .dijitSliderFocused .dijitSliderProgressBarV,
.soria .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.soria .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.soria .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.soria .dijitSliderBar {
	border-style: solid;
	outline:1px;
	
}
.soria .dijitSliderFocused .dijitSliderBar {
	border-color:#8ba0bd;
}
.soria .dijitSliderImageHandleH {
	border:0;
	width:15px;
	height:18px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.soria .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.dj_ie6 .soria .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}
.soria .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.soria .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.soria .dijitSliderImageHandleV {
	border:0;
	width:20px;
	height:15px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	#background:url("../images/sliderThumb.gif") no-repeat center center;
}
.soria .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
	#background-image:url("../images/sliderThumbFocus.gif");
}
.soria .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.soria .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.soria .dijitSliderIncrementIconH,
.soria .dijitSliderIncrementIconV {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -45px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -45px top;
	width:15px; height:15px;
}
.soria .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
.soria .dijitSliderDecrementIconH,
.soria .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -15px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.soria .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat 0 top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat 0 top;
}
.soria .dijitSliderButtonInner {
	visibility:hidden;
}
.soria .dijitSliderReadOnly *,
.soria .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.soria .dijitSliderReadOnly .dijitSliderDecrementIconH,
.soria .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: 0 -15px;
}
.soria .dijitSliderReadOnly .dijitSliderIncrementIconH,
.soria .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -30px -15px;
}
.soria .dijitSliderReadOnly .dijitSliderDecrementIconV,
.soria .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -15px -15px;
}
.soria .dijitSliderReadOnly .dijitSliderIncrementIconV,
.soria .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -45px -15px;
}
