
.nihilo .dijitToggleButton .dijitCheckBox,
.nihilo .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/spriteCheckbox.gif');
}
.nihilo .dijitCheckBox,
.nihilo .dijitCheckBoxIcon {		
	background-image: url('../images/spriteCheckbox.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.nihilo .dijitCheckBox,
.nihilo .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.nihilo .dijitCheckBoxChecked,
.nihilo .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0;
}
.nihilo .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.nihilo .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.nihilo .dijitCheckBoxHover {
	
	background-position: -80px;
}
.nihilo .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
